@using FP.Manager
@{ }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>खुशहाल परिवार</title>
    <base href="@FP.Manager.CommonModel.GetBaseUrl()" />

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!-- Favicon -->
    <link href="~/Content/img/icon.png" rel="icon" />

    <!-- layout end-->
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    @*<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">*@
    @*<link href="~/Content/css/fonts.css" rel="stylesheet">*@

    <!-- Icon Font Stylesheet -->
    @*<link href="~/Content/css/all.min.css" rel="stylesheet">
        <link href="~/Content/css/bootstrap-icons.css" rel="stylesheet">*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!-- layout end-->
    @*<link href="~/Content/css/jquery-ui.css" rel="stylesheet">*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" type='text/css' />*@
    <link href="~/Content/css/toastr.min.css" rel="stylesheet" type='text/css' />
    <link href="~/Content/css/cssselect2.css" rel="stylesheet" />
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <style>
        .page-layout {
            min-height: 520px;
        }

        .breadcrumb {
            margin: auto;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 20px 0;
        }

            .breadcrumb h2 {
                font-size: 22px;
            }

        .flexer {
            display: flex;
            gap: 15px;
            margin-top: -30px;
        }

        .header-logo {
            margin: auto;
            padding: 5px 0
        }

            .header-logo img {
                padding: 4px;
                background: #fff;
                border-radius: 5px;
            }

        .hl-1 {
            width: 60px;
        }

        .hl-2 {
            width: 70px;
            margin-left: 120px
        }

        @@media screen and (max-width: 1024px) {
            .hl-2 {
                width: 70px;
                margin-left: 50px
            }
        }

        @@media screen and (max-width: 900px) {
            .hl-2 {
                width: 70px;
                margin-left: 30px
            }
        }

        @@media screen and (max-width: 768px) {
            .header-logo {
                display: none
            }
        }
    </style>

</head>
<body>

    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        @*<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>*@
        <!-- Spinner End -->
        @Html.Partial("_Navbar")

        <div class="content">
            @Html.Partial("_Header")
            <div class="page-layout">
                @RenderBody()
            </div>

            @Html.Partial("_Footer")
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

    @if (TempData["ToastMsg"] != null)
    {
        <script>
          var success = @((TempData["ToastMsg"] != null).ToString().ToLower());
          if (success == true) {
              var jsonToast = JSON.parse(decodeHtml('@TempData["ToastMsg"]'));
              CreateToasterMessage(jsonToast.MsgTitle, jsonToast.MsgBody, jsonToast.MsgType);
          }
          $(function () {
              $("#tooltip").text($(this).attr('alt'));
          });
        </script>
    }
    @if (Session["CUser"] == null)
    {
        <script>
            $(document).ready(function () {
            var url = '@Url.Action("Login", "Account")';
               location.href = url;
         });
        </script>
    }
    <!-- JavaScript Libraries -->
    @*<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>*@

    <script src="~/Scripts/JS/jquery-ui.js"></script>

    <!--High Charts Started-->
    <script src="~/Scripts/JS/highcharts.js"></script>
    <script src="~/Scripts/JS/series-label.js"></script>
    <script src="~/Scripts/JS/exporting.js"></script>
    <script src="~/Scripts/JS/export-data.js"></script>
    <script src="~/Scripts/JS/accessibility.js"></script>
    <!--High Chart End-->
    <!--Data Table Started-->
    <link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/JS/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/JS/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/JS/jszip.min.js"></script>
    <script src="~/Scripts/JS/buttons.html5.min.js"></script>
    <!--Data Table End-->
    <!-- Template Javascript Others -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/Scripts/JS/bootstrap.bundle.min.js"></script>*@
    <script src="~/Content/lib/chart/chart.min.js"></script>
    <script src="~/Scripts/JS/textcounter.min.js"></script>
    <script src="~/Content/lib/easing/easing.min.js"></script>
    <script src="~/Content/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Content/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/Content/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/Content/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/Scripts/JS/toastr.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/select2.min.js"></script>

    <script>

        $(document).ready(function () {

            $(".js-select2").select2({
                closeOnSelect: false,
                placeholder: "Placeholder",
                allowHtml: true,
                allowClear: true,
                tags: true
            });

            if ('@Session["CUser"]' == 'null' || '@Session["CUser"]' == '') {
                var url = '@Url.Action("Login", "Account")';
                           location.href = url;
            }
        });
        function BindRoleCurrent(Roleid) {
            $('#' + Roleid).val(('@MvcApplication.CUser.RoleId').toLowerCase());
        }
        function BindRolewise(DistrictId_fk, BlockId_fk,CLFId_fk, PanchayatId_fk, VoId_fk) {
            if ('@Session["CUser"]' !== 'null' && '@Session["CUser"]' !=='') {
                if ('@User.Identity.IsAuthenticated' === 'True') {
                     if ('@CommonModel.RoleNameCont.CM' === '@MvcApplication.CUser.Role') {
                        $('#' + DistrictId_fk).val(('@MvcApplication.CUser.DistrictId').toLowerCase());
                        $('#' + DistrictId_fk).attr("style", "pointer-events: none;");
                        GetBlock(BlockId_fk, 0, $('#' + DistrictId_fk).val());
                        $('#' + BlockId_fk).val(('@MvcApplication.CUser.BlockId').toLowerCase());
                        $('#' + BlockId_fk).attr("style", "pointer-events: none;");
                        GetCLF(CLFId_fk, 0, $('#' + DistrictId_fk).val(), $('#' + BlockId_fk).val());
                        $('#' + CLFId_fk).val(('@MvcApplication.CUser.CLFId').toLowerCase());
                        $('#' + CLFId_fk).attr("style", "pointer-events: none;");
                         GetPanchayat(PanchayatId_fk, 0, $('#' + DistrictId_fk).val(), $('#' + BlockId_fk).val(), $('#' + CLFId_fk).val());
                        $('#' + PanchayatId_fk).val(('@MvcApplication.CUser.Panchayatid').toLowerCase());
                        $('#' + PanchayatId_fk).attr("style", "pointer-events: none;");
                         GetVillage(VoId_fk, 0, $('#' + DistrictId_fk).val(), $('#' + BlockId_fk).val(),$('#' + CLFId_fk).val(), $('#' + PanchayatId_fk).val());
                        $('#' + VoId_fk).val(('@MvcApplication.CUser.Void').toLowerCase());
                        $('#' + VoId_fk).attr("style", "pointer-events: none;");
                    }
                     else if ('@CommonModel.RoleNameCont.CNRP' === '@MvcApplication.CUser.Role') {
                        $('#' + DistrictId_fk).val(('@MvcApplication.CUser.DistrictId').toLowerCase());
                        $('#' + DistrictId_fk).attr("style", "pointer-events: none;");
                        GetBlock(BlockId_fk, 0, $('#' + DistrictId_fk).val());
                        $('#' + BlockId_fk).val(('@MvcApplication.CUser.BlockId').toLowerCase());
                        $('#' + BlockId_fk).attr("style", "pointer-events: none;");
                        GetCLF(CLFId_fk, 0, $('#' + DistrictId_fk).val(), $('#' + BlockId_fk).val());
                         //$('#' + CLFId_fk).select2("val", @MvcApplication.CUser.CLFId);
                         $('#' + CLFId_fk).val(('@MvcApplication.CUser.CLFId').toLowerCase());//.trigger('change');
                        $('#' + CLFId_fk).attr("style", "pointer-events: none;");
                         GetPanchayat(PanchayatId_fk, 0, $('#' + DistrictId_fk).val(), $('#' + BlockId_fk).val(), $('#' + CLFId_fk).val());
                        $('#' + PanchayatId_fk).val(('@MvcApplication.CUser.Panchayatid').toLowerCase());
                        $('#' + PanchayatId_fk).attr("style", "pointer-events: none;");
                         GetVillage(VoId_fk, 0, $('#' + DistrictId_fk).val(), $('#' + BlockId_fk).val(), $('#' + CLFId_fk).val(), $('#' + PanchayatId_fk).val());
                    }
                     else if ('@CommonModel.RoleNameCont.CLF' === '@MvcApplication.CUser.Role') {
                        $('#' + DistrictId_fk).val(('@MvcApplication.CUser.DistrictId').toLowerCase());
                        $('#' + DistrictId_fk).attr("style", "pointer-events: none;");
                        GetBlock(BlockId_fk, 0, $('#' + DistrictId_fk).val());
                        $('#' + BlockId_fk).val(('@MvcApplication.CUser.BlockId').toLowerCase());
                        $('#' + BlockId_fk).attr("style", "pointer-events: none;");
                         GetCLF(CLFId_fk, 0, $('#' + DistrictId_fk).val(), $('#' + BlockId_fk).val());
                         $('#' + CLFId_fk).val(('@MvcApplication.CUser.CLFId').toLowerCase());
                         //$('#' + CLFId_fk).attr("style", "pointer-events: none;");
                         GetPanchayat(PanchayatId_fk, 0, $('#' + DistrictId_fk).val(), $('#' + BlockId_fk).val(), $('#' + CLFId_fk).val());
                        $('#' + PanchayatId_fk).val(('@MvcApplication.CUser.Panchayatid').toLowerCase());
                        // $('#' + PanchayatId_fk).attr("style", "pointer-events: none;");
                         GetVillage(VoId_fk, 0, $('#' + DistrictId_fk).val(), $('#' + BlockId_fk).val(), $('#' + CLFId_fk).val(), $('#' + PanchayatId_fk).val());
                        $('#' + VoId_fk).val(('@MvcApplication.CUser.Void').toLowerCase());
                        //$('#' + VoId_fk).attr("style", "pointer-events: none;");
                    }
                     else if ('@CommonModel.RoleNameCont.BPIU' === '@MvcApplication.CUser.Role') {
                       $('#' + DistrictId_fk).val(('@MvcApplication.CUser.DistrictId').toLowerCase());
                       $('#' + DistrictId_fk).attr("style", "pointer-events: none;");
                       GetBlock(BlockId_fk, 0, $('#' + DistrictId_fk).val());
                       $('#' + BlockId_fk).val(('@MvcApplication.CUser.BlockId').toLowerCase());
                       $('#' + BlockId_fk).attr("style", "pointer-events: none;");
                       GetCLF(CLFId_fk, 0, $('#' + DistrictId_fk).val(), $('#' + BlockId_fk).val());
                       $('#' + CLFId_fk).val(('@MvcApplication.CUser.CLFId').toLowerCase());
                      //$('#' + CLFId_fk).attr("style", "pointer-events: none;");
                         GetPanchayat(PanchayatId_fk, 0, $('#' + DistrictId_fk).val(), $('#' + BlockId_fk).val(), $('#' + CLFId_fk).val());
                       $('#' + PanchayatId_fk).val(('@MvcApplication.CUser.Panchayatid').toLowerCase());
                      // $('#' + PanchayatId_fk).attr("style", "pointer-events: none;");
                         GetVillage(VoId_fk, 0, $('#' + DistrictId_fk).val(), $('#' + BlockId_fk).val(), $('#' + CLFId_fk).val(), $('#' + PanchayatId_fk).val());
                       $('#' + VoId_fk).val(('@MvcApplication.CUser.Void').toLowerCase());
                       //$('#' + VoId_fk).attr("style", "pointer-events: none;");
                    }
                    else if ('@CommonModel.RoleNameCont.BPMU' === '@MvcApplication.CUser.Role'
                             || '@CommonModel.RoleNameCont.District' === '@MvcApplication.CUser.Role') {
                        $('#' + DistrictId_fk).val(('@MvcApplication.CUser.DistrictId').toLowerCase());
                        $('#' + DistrictId_fk).attr("style", "pointer-events: none;");
                        GetBlock(BlockId_fk, 0, $('#' + DistrictId_fk).val());
                        //$('#' + BlockId_fk).val(('@MvcApplication.CUser.BlockId').toLowerCase());
                        //$('#' + BlockId_fk).attr("style", "pointer-events: none;");
                       // GetPanchayat(PanchayatId_fk, 0, $('#' + DistrictId_fk).val(), $('#' + BlockId_fk).val());
                        //$('#' + PanchayatId_fk).val(('@MvcApplication.CUser.Panchayatid').toLowerCase());
                        // $('#' + PanchayatId_fk).attr("style", "pointer-events: none;");
                       // GetVillage(VoId_fk, 0, $('#' + DistrictId_fk).val(), $('#' + BlockId_fk).val(),$('#' + CLFId_fk).val(), $('#' + PanchayatId_fk).val());
                       // $('#' + VoId_fk).val(('@MvcApplication.CUser.Void').toLowerCase());
                        //$('#' + VoId_fk).attr("style", "pointer-events: none;");
                    }
                    else if ('@CommonModel.RoleNameCont.Admin' === '@MvcApplication.CUser.Role'
                             || '@CommonModel.RoleNameCont.State' === '@MvcApplication.CUser.Role') {
                          //$('#' + DistrictId_fk).val(('@MvcApplication.CUser.DistrictId').toLowerCase());
                          //$('#' + DistrictId_fk).attr("style", "pointer-events: none;");
                          //GetBlock(BlockId_fk, 0, $('#' + DistrictId_fk).val());
                          //$('#' + BlockId_fk).val(('@MvcApplication.CUser.BlockId').toLowerCase());
                         // $('#' + BlockId_fk).attr("style", "pointer-events: none;");
                          //GetPanchayat(PanchayatId_fk, 0, $('#' + DistrictId_fk).val(), $('#' + BlockId_fk).val());
                          //$('#' + PanchayatId_fk).val(('@MvcApplication.CUser.Panchayatid').toLowerCase());
                         // $('#' + PanchayatId_fk).attr("style", "pointer-events: none;");
                          //GetVillage(VoId_fk, 0, $('#' + DistrictId_fk).val(), $('#' + BlockId_fk).val(),$('#' + CLFId_fk).val(), $('#' + PanchayatId_fk).val());
                          //$('#' + VoId_fk).val(('@MvcApplication.CUser.Void').toLowerCase());
                          //$('#' + VoId_fk).attr("style", "pointer-events: none;");
                      }
                }
                 else {
                     var url = '@Url.Action("Login", "Account")';
                                location.href = url;
                 }
            }

            else {
                var url = '@Url.Action("Login", "Account")';
                           location.href = url;
            }

        }
    </script>

</body>
</html>
