@using FP.Manager
@{
    var u = MvcApplication.CUser;
    var IsViewer = false;
}
<!-- Sidebar Start -->
<style>
    .fp-logo {
        width: 70px;
        margin-right: 10px;
    }
</style>

<div class="sidebar pe-4 pb-3">
    <a href="/" class="navbar-brand mx-4 mb-3">
        <h6 class="text-primary">
            <img src="~/Content/img/fp-logo.png" alt="Logo" class="fp-logo" />
            खुशहाल परिवार
        </h6>
    </a>
    <div class="d-flex align-items-center ms-4 mb-4">
        <div class="position-relative">
            <img class="rounded-circle" src="~/Content/img/user.png" alt="" style="width: 40px; height: 40px;">
            <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
        </div>
        <div class="ms-3">
            <h6 class="mb-0">
                @{ if (User.Identity.IsAuthenticated)
                    {
                        @u.Name
                    }
                }
            </h6>
        </div>
    </div>

    <div class="nav-side-menu">
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li> <a href="~/Home/Index"> <i class="fa fa-tachometer-alt me-2"></i> Dashboard </a> </li>
                @if (HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.Admin) || HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.State))
                {
                    <li data-toggle="collapse" data-target="#Beneficiary" class="collapsed">
                        <a href="javascript:void(0)"><i class="fa fa-laptop me-2"></i>Beneficiary <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="Beneficiary">
                        <li><a href="~/Beneficiary/Beneficiary">Add Beneficiary</a></li>
                        <li><a href="~/Beneficiary/BFYList">Beneficiary List</a></li>
                    </ul>
                    <li> <a href="~/Beneficiary/BFYFollow"> <i class="fa fa-fa fa-arrow-up me-2"></i> Follow up </a> </li>
                    <li> <a href="/Achievement/AddAchievePlan"> <i class="fa fa-fa fa-users me-2"></i> Achievement </a> </li>
                    <li> <a href="~/Service/AddServiceCNRP"> <i class="fas fa-calendar me-2"></i> Service-CNRP </a> </li>
                    <li data-toggle="collapse" data-target="#Payment" class="collapsed">
                        <a href="javascript:void(0)"><i class="fa fa-laptop me-2"></i>Payment <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="Payment">
                        <li data-toggle="collapse" data-target="#PaymentMICNRP" class="collapsed">
                            <a href="javascript:void(0);" style="font-size: 12px !important;">
                                Monthly Incentive @CommonModel.RoleNameCont.CNRP <span class="arrow"></span>
                            </a>
                        </li>
                        <ul class="sub-menu collapse" id="PaymentMICNRP">
                            <li>
                                <a href="~/Payment/LevelOnePayment">
                                    Validate (@CommonModel.RoleNameCont.MRP)
                                </a>
                            </li>
                            <li>
                                <a href="~/Payment/LevelTwoPayment">
                                    Checked (@CommonModel.RoleNameCont.CC)
                                </a>
                            </li>
                            <li>
                                <a href="~/Payment/LevelThreePayment">
                                    Approved @CommonModel.RoleNameCont.CNRP  (@CommonModel.RoleNameCont.BPM)
                                </a>
                            </li>
                        </ul>
                        <li data-toggle="collapse" data-target="#PaymentMICM" class="collapsed">
                            <a href="javascript:void(0);">
                                Monthly Incentive @CommonModel.RoleNameCont.CM <span class="arrow"></span>
                            </a>
                        </li>
                        <ul class="sub-menu collapse" id="PaymentMICM">
                            <li>
                                <a href="~/PaymentCM/CMBFYFollowMIPay?TypeLayer=1">
                                    Validate (@CommonModel.RoleNameCont.MRP)
                                </a>
                            </li>
                            <li>
                                <a href="~/PaymentCM/CMBFYFollowMIPay?TypeLayer=2">
                                    Checked (@CommonModel.RoleNameCont.CC)
                                </a>
                            </li>
                            <li>
                                <a href="~/PaymentCM/CMBFYFollowMIPay?TypeLayer=3">
                                    Approved (@CommonModel.RoleNameCont.BPM)
                                </a>
                            </li>
                        </ul>

                        <li data-toggle="collapse" data-target="#MobilizationPayment" class="collapsed">
                            <a href="javascript:void(0);">
                                Mobilization Payment <span class="arrow"></span>
                            </a>
                        </li>
                        <ul class="sub-menu collapse" id="MobilizationPayment">
                            <li>
                                <a href="~/MobilizationPayment/MobilizationIPayment?TypeLayer=1">
                                    Validate (@CommonModel.RoleNameCont.MRP)
                                </a>
                            </li>
                            <li>
                                <a href="~/MobilizationPayment/MobilizationIPayment?TypeLayer=2">
                                    Checked (@CommonModel.RoleNameCont.CC)
                                </a>
                            </li>
                            <li>
                                <a href="~/MobilizationPayment/MobilizationIPayment?TypeLayer=3">
                                    Approved (@CommonModel.RoleNameCont.BPM)
                                </a>
                            </li>
                        </ul>
                    </ul>
                    <li data-toggle="collapse" data-target="#Report" class="collapsed">
                        <a href="javascript:void(0);">
                            <i class="fa fa-file me-2"></i> Report <span class="arrow"></span>
                        </a>
                    </li>
                    <ul class="sub-menu collapse" id="Report">
                        <li><a href="~/Beneficiary/PaymentSummaryList">Payment Summaey</a></li>
                        <li><a href="~/Beneficiary/FollowupList">Follow List</a></li>
                        <li><a href="~/Report/PrapatraOne">Prapatra-1 List</a></li>
                        <li><a href="~/Report/LetterTwo">Prapatra-2 List</a></li>
                        <li><a href="~/Report/ServiceBFYList">Service Details</a></li>
                    </ul>
                    <li data-toggle="collapse" data-target="#accountt" class="collapsed">
                        <a href="javascript:void(0);">
                            <i class="fa fa-users me-2"></i> Account <span class="arrow"></span>
                        </a>
                    </li>
                    <ul class="sub-menu collapse" id="accountt">
                        <li><a href="~/Account/Register">Registration</a></li>
                        <li><a href="~/Master/UserDetaillist">User List</a></li>
                    </ul>
                    <li data-toggle="collapse" data-target="#Master" class="collapsed">
                        <a href="javascript:void(0);">
                            <i class="fa fa-database me-2"></i> Master <span class="arrow"></span>
                        </a>
                    </li>
                    <ul class="sub-menu collapse" id="Master">
                        <li>
                            <a href="~/Master/CLFMaster">@CommonModel.DispLevel.Cluster</a>
                        </li>
                        <li><a href="~/Master/PanchayatMaster">@CommonModel.DispLevel.Panchayat</a></li>
                        <li><a href="~/Master/VillMaster">@CommonModel.DispLevel.VO</a></li>
                    </ul>
                }
                else if (HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.CNRP) || HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.CM))
                {
                    <li data-toggle="collapse" data-target="#Beneficiary" class="collapsed">
                        <a href="javascript:void(0);">
                            <i class="fa fa-database me-2"></i> Beneficiary <span class="arrow"></span>
                        </a>
                    </li>
                    <ul class="sub-menu collapse" id="Beneficiary">
                        <li><a href="~/Beneficiary/Beneficiary">Add Beneficiary</a></li>
                        <li><a href="~/Beneficiary/BFYList">Beneficiary List</a></li>
                    </ul>
                    <li> <a href="~/Beneficiary/BFYFollow"> <i class="fa fa-fa fa-arrow-up me-2"></i> Follow up </a> </li>
                    if (HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.CNRP))
                    {
                        <li> <a href="/Achievement/AddAchievePlan"> <i class="fa fa-fa fa-users me-2"></i> Achievement </a> </li>
                        <li> <a href="~/Service/AddServiceCNRP"> <i class="fas fa-calendar me-2"></i> Service-CNRP </a> </li>
                        <li data-toggle="collapse" data-target="#accountt" class="collapsed">
                            <a href="javascript:void(0);">
                                <i class="fa fa-users me-2"></i> Account <span class="arrow"></span>
                            </a>
                        </li>
                        <ul class="sub-menu collapse" id="accountt">
                            <li><a href="~/Account/Register">Registration</a></li>
                            <li><a href="~/Master/UserDetaillist">User List</a></li>
                        </ul>
                        <li data-toggle="collapse" data-target="#Master" class="collapsed">
                            <a href="javascript:void(0);">
                                <i class="fa fa-database me-2"></i> Master <span class="arrow"></span>
                            </a>
                        </li>
                        <ul class="sub-menu collapse" id="Master">
                            <li>
                                <a href="~/Master/CLFMaster">@CommonModel.DispLevel.Cluster</a>
                            </li>
                            <li><a href="~/Master/PanchayatMaster">@CommonModel.DispLevel.Panchayat</a></li>
                            <li><a href="~/Master/VillMaster">@CommonModel.DispLevel.VO</a></li>
                        </ul>
                    }
                    <li data-toggle="collapse" data-target="#Report" class="collapsed">
                        <a href="javascript:void(0);">
                            <i class="fa fa-file me-2"></i> Report <span class="arrow"></span>
                        </a>
                    </li>
                    <ul class="sub-menu collapse" id="Report">
                        <li><a href="~/Beneficiary/FollowupList">Follow List</a></li>
                        <li><a href="~/Report/PrapatraOne">Prapatra-1 List</a></li>
                        <li><a href="~/Report/LetterTwo">Prapatra-2 List</a></li>
                        <li><a href="~/Report/ServiceBFYList">Service Details</a></li>
                    </ul>
                }
                else if (HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.MRP))
                {
                    <li data-toggle="collapse" data-target="#Payment" class="collapsed">
                        <a href="javascript:void(0)"><i class="fa fa-laptop me-2"></i>Payment <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="Payment">
                        <li data-toggle="collapse" data-target="#PaymentMICNRP" class="collapsed">
                            <a href="javascript:void(0);" style="font-size: 12px !important;">
                                Monthly Incentive @CommonModel.RoleNameCont.CNRP <span class="arrow"></span>
                            </a>
                        </li>
                        <ul class="sub-menu collapse" id="PaymentMICNRP">
                            <li>
                                <a href="~/Payment/LevelOnePayment">
                                    Validate (@CommonModel.RoleNameCont.MRP)
                                </a>
                            </li>
                        </ul>
                        <li data-toggle="collapse" data-target="#PaymentMICM" class="collapsed">
                            <a href="javascript:void(0);">
                                Monthly Incentive @CommonModel.RoleNameCont.CM <span class="arrow"></span>
                            </a>
                        </li>
                        <ul class="sub-menu collapse" id="PaymentMICM">
                            <li>
                                <a href="~/PaymentCM/CMBFYFollowMIPay?TypeLayer=1">
                                    Validate (@CommonModel.RoleNameCont.MRP)
                                </a>
                            </li>

                        </ul>
                        <li data-toggle="collapse" data-target="#MobilizationPayment" class="collapsed">
                            <a href="javascript:void(0);">
                                Mobilization Payment <span class="arrow"></span>
                            </a>
                        </li>
                        <ul class="sub-menu collapse" id="MobilizationPayment">
                            <li>
                                <a href="~/MobilizationPayment/MobilizationIPayment?TypeLayer=1">
                                    Validate (@CommonModel.RoleNameCont.MRP)
                                </a>
                            </li>
                        </ul>
                    </ul>
                    <li data-toggle="collapse" data-target="#Report" class="collapsed">
                        <a href="javascript:void(0);">
                            <i class="fa fa-file me-2"></i> Report <span class="arrow"></span>
                        </a>
                    </li>
                    <ul class="sub-menu collapse" id="Report">
                        <li><a href="~/Beneficiary/FollowupList">Follow List</a></li>
                        <li><a href="~/Report/PrapatraOne">Prapatra-1 List</a></li>
                        <li><a href="~/Report/LetterTwo">Prapatra-2 List</a></li>
                        <li><a href="~/Report/ServiceBFYList">Service Details</a></li>
                    </ul>
                }
                else if (HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.CC))
                {
                    <li data-toggle="collapse" data-target="#Payment" class="collapsed">
                        <a href="javascript:void(0)"><i class="fa fa-laptop me-2"></i>Payment <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="Payment">
                        <li data-toggle="collapse" data-target="#PaymentMICNRP" class="collapsed">
                            <a href="javascript:void(0);" style="font-size: 12px !important;">
                                Monthly Incentive @CommonModel.RoleNameCont.CNRP <span class="arrow"></span>
                            </a>
                        </li>
                        <ul class="sub-menu collapse" id="PaymentMICNRP">
                            <li>
                                <a href="~/Payment/LevelTwoPayment">
                                    Checked (@CommonModel.RoleNameCont.CC)
                                </a>
                            </li>
                        </ul>
                        <li data-toggle="collapse" data-target="#PaymentMICM" class="collapsed">
                            <a href="javascript:void(0);">
                                Monthly Incentive @CommonModel.RoleNameCont.CM <span class="arrow"></span>
                            </a>
                        </li>
                        <ul class="sub-menu collapse" id="PaymentMICM">
                            <li>
                                <a href="~/PaymentCM/CMBFYFollowMIPay?TypeLayer=2">
                                    Checked (@CommonModel.RoleNameCont.CC)
                                </a>
                            </li>
                        </ul>
                        <li data-toggle="collapse" data-target="#MobilizationPayment" class="collapsed">
                            <a href="javascript:void(0);">
                                Mobilization Payment <span class="arrow"></span>
                            </a>
                        </li>
                        <ul class="sub-menu collapse" id="MobilizationPayment">
                            <li>
                                <a href="~/MobilizationPayment/MobilizationIPayment?TypeLayer=2">
                                    Checked (@CommonModel.RoleNameCont.CC)
                                </a>
                            </li>
                        </ul>
                    </ul>
                    <li data-toggle="collapse" data-target="#Report" class="collapsed">
                        <a href="javascript:void(0);">
                            <i class="fa fa-file me-2"></i> Report <span class="arrow"></span>
                        </a>
                    </li>
                    <ul class="sub-menu collapse" id="Report">
                        <li><a href="~/Beneficiary/FollowupList">Follow List</a></li>
                        <li><a href="~/Report/PrapatraOne">Prapatra-1 List</a></li>
                        <li><a href="~/Report/LetterTwo">Prapatra-2 List</a></li>
                        <li><a href="~/Report/ServiceBFYList">Service Details</a></li>
                    </ul>
                }
                else if (HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.BPM) || HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.BPIU))
                {
                    <li data-toggle="collapse" data-target="#Payment" class="collapsed">
                        <a href="javascript:void(0)"><i class="fa fa-laptop me-2"></i>Payment <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="Payment">
                        <li data-toggle="collapse" data-target="#PaymentMICNRP" class="collapsed">
                            <a href="javascript:void(0);" style="font-size: 12px !important;">
                                Monthly Incentive @CommonModel.RoleNameCont.CNRP <span class="arrow"></span>
                            </a>
                        </li>
                        <ul class="sub-menu collapse" id="PaymentMICNRP">
                            <li>
                                <a href="~/Payment/LevelThreePayment">
                                    Approved (@CommonModel.RoleNameCont.BPM)
                                </a>
                            </li>

                        </ul>
                        <li data-toggle="collapse" data-target="#PaymentMICM" class="collapsed">
                            <a href="javascript:void(0);">
                                Monthly Incentive @CommonModel.RoleNameCont.CM <span class="arrow"></span>
                            </a>
                        </li>
                        <ul class="sub-menu collapse" id="PaymentMICM">
                            <li>
                                <a href="~/PaymentCM/CMBFYFollowMIPay?TypeLayer=3">
                                    Approved (@CommonModel.RoleNameCont.BPM)
                                </a>
                            </li>
                        </ul>
                        <li data-toggle="collapse" data-target="#MobilizationPayment" class="collapsed">
                            <a href="javascript:void(0);">
                                Mobilization Payment <span class="arrow"></span>
                            </a>
                        </li>
                        <ul class="sub-menu collapse" id="MobilizationPayment">
                            <li>
                                <a href="~/MobilizationPayment/MobilizationIPayment?TypeLayer=3">
                                    Approved (@CommonModel.RoleNameCont.BPM)
                                </a>
                            </li>
                        </ul>
                    </ul>
                    <li data-toggle="collapse" data-target="#Report" class="collapsed">
                        <a href="javascript:void(0);">
                            <i class="fa fa-file me-2"></i> Report <span class="arrow"></span>
                        </a>
                    </li>
                    <ul class="sub-menu collapse" id="Report">
                        <li><a href="~/Beneficiary/FollowupList">Follow List</a></li>
                        <li><a href="~/Report/PrapatraOne">Prapatra-1 List</a></li>
                        <li><a href="~/Report/LetterTwo">Prapatra-2 List</a></li>
                        <li><a href="~/Report/ServiceBFYList">Service Details</a></li>
                    </ul>
                }
                else if (HttpContext.Current.User.IsInRole(CommonModel.RoleNameCont.Viewer))
                {
                    <li data-toggle="collapse" data-target="#Report" class="collapsed">
                        <a href="javascript:void(0);">
                            <i class="fa fa-file me-2"></i> Report <span class="arrow"></span>
                        </a>
                    </li>
                    <ul class="sub-menu collapse" id="Report">
                        <li><a href="~/Beneficiary/FollowupList">Follow List</a></li>
                        <li><a href="~/Report/PrapatraOne">Prapatra-1 List</a></li>
                        <li><a href="~/Report/LetterTwo">Prapatra-2 List</a></li>
                        <li><a href="~/Report/ServiceBFYList">Service Details</a></li>
                    </ul>
                }
            </ul>
        </div>
    </div>


</div>



<script>
    setTimeout(function () {
        currentUrl = $(location).attr("href");
        $('.menu-list a').each(function (i, item) {
            if (item.href == currentUrl) {
                $(item).parent('li').addClass('active');
                $(item).parent('li').parent('ul').addClass('in');
                $(item).parent('li').parent('ul').prev('li').removeClass('collapsed');
                $(item).parent('li').parent('ul.sub-menu').parent('ul.sub-menu').prev('li').removeClass('collapsed');
                $(item).parent('li').parent('ul.sub-menu').parent('ul.sub-menu').addClass('in');
            }
        });

    }, 100);
</script>