@model FP.Models.RegisterViewModel
@using FP.Manager
@{
    ViewBag.Title = "Register";
}
<style>
    .actives4 {
        color: #009CFF !important;
        background: #FFFFFF;
        border-color: #009CFF;
    }
</style>
<div class="breadcrumb">
    <h2>User Registration</h2>
    <p><a href="~/Master/UserDetaillist"><i class="fa fa-list"></i>User List</a>  / User Registration</p>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.EmpID_pk)
            @Html.HiddenFor(m => m.UserID_fk)

        <!--<div class="bg-light rounded h-100 p-4">
            <div class="col-sm-12 col-xl-6">
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="mb-3">
                    @Html.LabelFor(m => m.Roles, new { @class = "form-label" })
                    <div class="col-md-12">
                        @Html.DropDownListFor(m => m.Roles, CommonModel.GetRole(), null, new { @class = "form-select" })
                    </div>
                </div>

                <div class="mb-3" id="div-dis" style="display:none">
                    @Html.LabelFor(m => m.DistrictId, new { @class = "form-label" })
                    <div class="col-md-12">
                        @Html.DropDownListFor(m => m.DistrictId, new List<SelectListItem>(), null, new { @class = "form-select" })
                    </div>
                </div>

                <div class="mb-3" id="div-panchid" style="display:none">
                    @Html.LabelFor(m => m.PanchayatId, new { @class = "form-label" })
                    <div class="col-md-12">
                        @Html.DropDownListFor(m => m.PanchayatId, new List<SelectListItem>(), null, new { @class = "form-select" })
                    </div>
                </div>

                <div class="mb-3" id="div-voorg" style="display:none">
                    <label class="form-label">Village Name <span class="text-danger">*</span></label>
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.VillageName, new { @class = "form-control" })
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Name <span class="text-danger">*</span></label>
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.EmpName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EmpName, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="mb-3" style="display:none;">
                    @Html.LabelFor(m => m.Gender, new { @class = "form-label" })
                    <div class="col-md-12">
                        @Html.DropDownListFor(m => m.Gender, CommonModel.GetGender(), null, new { @class = "form-select" })
                    </div>
                </div>

                <div class="mb-3" id="div-blk" style="display:none">
                    @Html.LabelFor(m => m.BlockId, new { @class = "form-label" })
                    <div class="col-md-12">
                        @Html.DropDownListFor(m => m.BlockId, new List<SelectListItem>(), null, new { @class = "form-select" })
                    </div>
                </div>

                <div class="mb-3" id="div-vid" style="display:none">
                    @Html.LabelFor(m => m.VOId_fk, new { @class = "form-label" })
                    <div class="col-md-12">
                        @Html.DropDownListFor(m => m.VOId_fk, new List<SelectListItem>(), null, new { @class = "form-select" })
                    </div>
                </div>

                <div class="mb-3">-->
                    @*<span class="text-danger">*</span> @Html.LabelFor(m => m.MobileNo, new { @class = "col-md-2 col-form-label" })*@
                    <!--<label class="form-label">Mobile Number <span class="text-danger">*</span></label>
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control numberonly", @maxlength = "10" })
                        @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="offset-md-2 col-md-10">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </div>
        </div>-->
           
            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row">
                        @Html.LabelFor(m => m.Roles, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(m => m.Roles, CommonModel.GetRole(), null, new { @class = "form-select mb-3" })
                        </div>
                    </div>
                    <div class="row" style="display:none;">
                        @Html.LabelFor(m => m.Gender, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(m => m.Gender, CommonModel.GetGender(), null, new { @class = "form-select mb-3" })
                        </div>
                    </div>
                    <div class="row" id="div-dis" style="display:none">
                        @Html.LabelFor(m => m.DistrictId, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(m => m.DistrictId, new List<SelectListItem>(), null, new { @class = "form-select mb-3" })
                        </div>
                    </div>
                    <div class="row" id="div-blk" style="display:none">
                        @Html.LabelFor(m => m.BlockId, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(m => m.BlockId, new List<SelectListItem>(), null, new { @class = "form-select mb-3" })
                        </div>
                    </div>
                    <div class="row" id="div-panchid" style="display:none">
                        @Html.LabelFor(m => m.PanchayatId, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(m => m.PanchayatId, new List<SelectListItem>(), null, new { @class = "form-select mb-3" })
                        </div>
                    </div>
                    <div class="row" id="div-vid" style="display:none">
                        @Html.LabelFor(m => m.VOId_fk, new { @class = "form-label" })
                        <div class="col-md-12">
                            @Html.DropDownListFor(m => m.VOId_fk, new List<SelectListItem>(), null, new { @class = "form-select mb-3" })
                        </div>
                    </div>
                    <div class="row" id="div-voorg" style="display:none">
                        <label class="col-md-12 col-form-label">Village Name <span class="text-danger">*</span></label>
                        @Html.LabelFor(m => m.VillageName, new { @class = "form-label" })<span class="text-danger">*</span>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.VillageName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="mb-3">
                        @*<span class="text-danger">*</span>@Html.Label(Model.DisplayName1, htmlAttributes: new { @class = "" })*@
                        <label class="form-label" for="Name">Name<span class="text-danger">*</span></label>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.EmpName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EmpName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="mb-3">
                        @*<span class="text-danger">*</span> @Html.LabelFor(m => m.MobileNo, new { @class = "col-md-2 col-form-label" })*@
                        <label class="form-label" for="Name">Mobile No<span class="text-danger">*</span></label>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control numberonly", @maxlength = "10" })
                            @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="mb-3">
                        <div class="col-md-10">
                            <input type="submit" value="Register" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
        </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JS/Master.js"></script>

    <script>
        $(document).ready(function () {

        $('#Roles').change(function () {
           // var url = '@Url.Action("Register", "Account")';
            // window.location.href = url + '?Roles=' + $(this).val();
            var rolen = $("#Roles option:selected").text();
            //debugger;
            if (rolen == '@CommonModel.RoleNameCont.Admin' || rolen== '@CommonModel.RoleNameCont.District') {
                GetDistrict("DistrictId", 0);
                GetBlock("BlockId", 0, $('#DistrictId').val());
                GetPanchayat("PanchayatId", 0, $('#DistrictId').val(), $('#BlockId').val());
                GetVillage("VOId_fk", 0, $('#DistrictId').val(), $('#BlockId').val(), $('#PanchayatId').val());
                $('#VillageName').val('');
            }
            BindRole();
        });

        GetDistrict("DistrictId", 0);
        $('#DistrictId').change(function () {
            GetBlock("BlockId", 0, $(this).val());
        });
        $('#BlockId').change(function () {
            GetPanchayat("PanchayatId", 0, $('#DistrictId').val(), $(this).val());
        });
        $('#PanchayatId').change(function () {
            GetVillage("VOId_fk", 0, $('#DistrictId').val(), $('#BlockId').val(), $(this).val());
        });

            if ('@Model.UserID_fk' != '') {
                debugger;
                $('#Roles').val('@Model.RoleID_fk');
                BindRole();
                $('#DistrictId').val('@Model.DistrictId');
                GetBlock("BlockId", 0, $('#DistrictId').val());
                $('#BlockId').val('@Model.BlockId');
                GetPanchayat("PanchayatId", 0, $('#DistrictId').val(), $('#BlockId').val());
                $('#PanchayatId').val('@Model.PanchayatId');
                GetVillage("VOId_fk", 0, $('#DistrictId').val(), $('#BlockId').val(), $('#PanchayatId').val());
                $('#VOId_fk').val('@Model.VOId_fk');
                $('#EmpName').val('@Model.EmpName');
                $('#VillageName').val('@Model.VillageName');
                $('#MobileNo').val('@Model.MobileNo');
                $('#EmpID_pk').val('@Model.EmpID_pk');
                $('#UserID_fk').val('@Model.UserID_fk');
            }

            /* Role Wise */
            BindRolewise("DistrictId", "BlockId", "PanchayatId", "VOId_fk");

            if ('@MvcApplication.CUser' !== 'nul') {
                    if ('@CommonModel.RoleNameCont.CNRP' === '@MvcApplication.CUser.Role') {
                           $('#Roles').val('@MvcApplication.CUser.RoleId');
                           // $('#Roles').attr("style", "pointer-events: none;");
                             BindRole();
                           //$('#DistrictId').val(('@MvcApplication.CUser.DistrictId').toLowerCase());
                           //$('#DistrictId').attr("style", "pointer-events: none;");
                           //GetBlock('BlockId', 0, ('@MvcApplication.CUser.DistrictId').toLowerCase());
                            //$('#BlockId').val(('@MvcApplication.CUser.BlockId').toLowerCase());
                            //$('#BlockId').attr("style", "pointer-events: none;");
                            //GetPanchayat("PanchayatId", 0, ('@MvcApplication.CUser.DistrictId').toLowerCase(), ('@MvcApplication.CUser.BlockId').toLowerCase());
                            //$('#PanchayatId').val(('@MvcApplication.CUser.Panchayatid').toLowerCase());
                            //$('#PanchayatId').attr("style", "pointer-events: none;");
                            //GetVillage("VOId_fk", 0, $('#DistrictId').val(), $('#BlockId').val(), $('#PanchayatId').val());
                    }
            }


        //$('#MobileNo').change(function () {
        //    var input = document.getElementById('MobileNo');
        //    var pattern = /^[6-9][0-9]{0,9}$/;
        //    var value = input.value;
        //    !pattern.test(value) && (input.value = value = '');
        //    input.addEventListener('input', function () {
        //        var currentValue = this.value;
        //        if (currentValue && !pattern.test(currentValue)) this.value = value;
        //        else value = currentValue;
        //    });
        //});
        });
        function BindRole() {
            debugger;
            var rolen = $("#Roles option:selected").text();
            if (rolen == '@CommonModel.RoleNameCont.CM') {
                $('#div-blk').css('display', 'flex');
                $('#div-dis').css('display', 'flex');
                $('#div-panchid').css('display', 'flex');
                $('#div-vid').show();
                $('#div-voorg').show();
                $('#Gender').val('Female');
                $('#Gender').attr('readonly', true);
            }
            else if (rolen == '@CommonModel.RoleNameCont.CNRP') {
                $('#div-blk').css('display', 'flex');
                $('#div-dis').css('display', 'flex');
                $('#div-panchid').css('display', 'flex');
                $('#div-voorg').hide();
                $('#div-vid').hide();
                $('#Gender').val('Female');
                $('#Gender').attr('readonly', true);
            }
            else if (rolen == '@CommonModel.RoleNameCont.BPMU') {
                $('#div-blk').css('display', '@Html.AntiForgeryToken()');
                $('#div-dis').css('display', 'flex');
                $('#div-panchid').css('display', 'none');
                $('#div-voorg').hide();
                $('#div-vid').hide();
                $('#Gender').val('Female');
                $('#Gender').attr('readonly', false);
            }
            else if (rolen ==  '@CommonModel.RoleNameCont.BPMU' || rolen == '@CommonModel.RoleNameCont.District') {
                $('#div-blk').css('display', 'none');
                $('#div-panchid').css('display', 'none');
                $('#div-voorg').hide();
                $('#div-vid').hide();
                $('#Gender').val('Female');
                $('#Gender').attr('readonly', false);
            }
            else {
                $('#div-panchid').css('display', 'none');
                $('#div-vid').hide();
                $('#div-voorg').hide();
                $('#Gender').attr('readonly', false);
                $('#div-blk').css('display', 'none');
                $('#div-dis').css('display', 'none');
            }
        }
    </script>
}
