@model FP.Models.RegisterViewModel
@using FP.Manager
@{
    ViewBag.Title = "Register";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.EmpID_pk)
        @Html.HiddenFor(m => m.UserID_fk)
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            @Html.LabelFor(m => m.Roles, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Roles, CommonModel.GetRole(), null, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Gender, CommonModel.GetGender(), null, new { @class = "form-control" })
            </div>
        </div>
        <div class="row" id="div-dis" style="display:none">
            @Html.LabelFor(m => m.DistrictId, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.DistrictId, new List<SelectListItem>(), null, new { @class = "form-control" })
            </div>
        </div>
        <div class="row" id="div-blk" style="display:none">
            @Html.LabelFor(m => m.BlockId, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.BlockId, new List<SelectListItem>(), null, new { @class = "form-control" })
            </div>
        </div>
        <div class="row" id="div-panchid" style="display:none">
            @Html.LabelFor(m => m.PanchayatId, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.PanchayatId, new List<SelectListItem>(), null, new { @class = "form-control" })
            </div>
        </div>
        <div class="row" id="div-vid" style="display:none">
            @Html.LabelFor(m => m.VOId_fk, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.VOId_fk, new List<SelectListItem>(), null, new { @class = "form-control" })
            </div>
        </div>
        <div class="row" id="div-voorg" style="display:none">
            <span class="text-danger">*</span>@Html.LabelFor(m => m.VillageName, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.VillageName, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <span class="text-danger">*</span>@Html.Label(Model.DisplayName1, htmlAttributes: new { @class = "" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.EmpName, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <span class="text-danger">*</span> @Html.LabelFor(m => m.MobileNo, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control numberonly", @maxlength = "10" })
            </div>
        </div>

        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-outline-dark" />
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JS/Master.js"></script>

    <script>
    $(document).ready(function () {
        $('#Roles').change(function () {
           // var url = '@Url.Action("Register", "Account")';
            // window.location.href = url + '?Roles=' + $(this).val();
            debugger;
            GetDistrict("DistrictId", 0);
            GetBlock("BlockId", 0, $('#DistrictId').val());
            GetPanchayat("PanchayatId", 0, $('#DistrictId').val(), $('#BlockId').val());
            GetVillage("VOId_fk", 0, $('#DistrictId').val(), $('#BlockId').val(), $('#PanchayatId').val());
            $('#VillageName').val('');
            var rolen = $("#Roles option:selected").text();
            if (rolen == "CM") {
                $('#div-blk').css('display', 'block');
                $('#div-dis').css('display', 'block');
                $('#div-panchid').css('display', 'block');
                $('#div-vid').show();
                $('#div-voorg').show();
                $('#Gender').val('Female');
                $('#Gender').attr('readonly', true);
            }
            else if (rolen == "CNRP") {
                $('#div-blk').css('display', 'block'); 
                $('#div-dis').css('display', 'block'); 
                $('#div-panchid').css('display', 'block');
                $('#div-voorg').hide();
                $('#div-vid').hide();
                $('#Gender').val('Female');
                $('#Gender').attr('readonly', true);
            }
            else if (rolen == "BPIU") {
                $('#div-blk').css('display', 'block'); 
                $('#div-dis').css('display', 'block');
                $('#div-panchid').css('display', 'none');
                $('#div-voorg').hide();
                $('#div-vid').hide();
                $('#Gender').val('Female');
                $('#Gender').attr('readonly', false);
            }
            else if (rolen == "BPMU" || rolen == "District") {
                $('#div-blk').css('display', 'none');
                $('#div-panchid').css('display', 'none');
                $('#div-voorg').hide();
                $('#div-vid').hide();
                $('#Gender').val('Female');
                $('#Gender').attr('readonly', false);
            }
            else {
                $('#div-panchid').css('display', 'none');
                $('#div-vid').hide();
                $('#div-voorg').hide();
                $('#Gender').attr('readonly', false);
                $('#div-blk').css('display', 'none'); 
                $('#div-dis').css('display', 'none');
            }

        });

        GetDistrict("DistrictId", 0);
        $('#DistrictId').change(function () {
            GetBlock("BlockId", 0, $(this).val());
        });
        $('#BlockId').change(function () {
            GetPanchayat("PanchayatId", 0, $('#DistrictId').val(), $(this).val());
        });
        $('#PanchayatId').change(function () {
            GetVillage("VOId_fk", 0, $('#DistrictId').val(), $('#BlockId').val(), $(this).val());
        });

        if ('@Model.UserID_fk' != '') {
            $('#DistrictId').val('@Model.DistrictId');
            GetBlock("BlockId", 0, $('#DistrictId').val());
            $('#BlockId').val('@Model.BlockId');
            GetPanchayat("PanchayatId", 0, $('#DistrictId').val(), $('#BlockId').val());
            $('#PanchayatId').val('@Model.PanchayatId');
            GetVillage("VillageId", 0, $('#DistrictId').val(), $('#BlockId').val(), $('#PanchayatId').val());
            $('#VOId_fk').val('@Model.VOId_fk');
            $('#EmpName').val('@Model.EmpName');
            $('#VillageName').val('@Model.VillageName');
            $('#MobileNo').val('@Model.MobileNo');
            $('#EmpID_pk').val('@Model.EmpID_pk');
            $('#UserID_fk').val('@Model.UserID_fk');
        }


        //$('#MobileNo').change(function () {
        //    var input = document.getElementById('MobileNo');
        //    var pattern = /^[6-9][0-9]{0,9}$/;
        //    var value = input.value;
        //    !pattern.test(value) && (input.value = value = '');
        //    input.addEventListener('input', function () {
        //        var currentValue = this.value;
        //        if (currentValue && !pattern.test(currentValue)) this.value = value;
        //        else value = currentValue;
        //    });
        //});
    });
    </script>
}
