@using System.Data
@using FP.Manager
@{
    DataTable dt = new DataTable();
    dt = Model;
    var strcheck = ""; var strcheck1 = ""; var strcheck2 = ""; var strcheckedAll = "checked";
    if (dt.Rows.Count > 0)
    {
        strcheck = dt.Compute("sum(Approved1Statusval)", "Approved1Statusval = 1").ToString();
        strcheck1 = dt.Compute("sum(Approved1Statusval)", "Approved2Statusval = 1").ToString();
        strcheck2 = dt.Compute("sum(Approved1Statusval)", "Approved3Statusval = 1").ToString();
        strcheckedAll = !string.IsNullOrWhiteSpace(strcheck) ? "" : !string.IsNullOrWhiteSpace(strcheck1) ? "" : !string.IsNullOrWhiteSpace(strcheck) ? "" : "checked";
    }
}
<style>
    .row-disabled {
        background-color: rgba(236, 240, 241, 0.5);
        pointer-events: none;
        width: 100%;
    }
</style>
<div class="table-responsive">
    <table class="table table-bordered table-striped" id="tbl">
        <thead class="text-center">
            <tr>
                <th>Check All<br /><input type="checkbox" class="allChecked" name="selectAll" id="selectAll" value="all" @strcheckedAll onchange="CheckUnchecked(this)" /></th>
                <th>Beneficiary<br /> ID</th>
                <th>Name of<br />Beneficiary</th>
                <th>Month/Year</th>
                <th>@CommonModel.RoleNameCont.CM</th>
                <th>Service <br />Reporting <br />Month </th>
                <th>@CommonModel.RoleNameCont.CNRP </th>
                <th>@FP.Models.DisplayFollowBFY.Ct</th>
                <th>@FP.Models.DisplayFollowBFY.Ctusemethod</th>
                <th>Service Date </th>
                <th>CNRP Eligible </th>
                <th>CM Eligible </th>
                <th>Cluster </th>
                <th>Panchayat </th>
                <th>V.Org </th>
                @if (CommonModel.RoleNameCont.Admin == MvcApplication.CUser.Role
                    || CommonModel.RoleNameCont.MRP == MvcApplication.CUser.Role
                    || CommonModel.RoleNameCont.CC == MvcApplication.CUser.Role
                    || CommonModel.RoleNameCont.BPM == MvcApplication.CUser.Role
                    )
                {
                    <th>@CommonModel.RoleNameCont.MRP Validated</th>
                    <th>@CommonModel.RoleNameCont.CC Checked</th>
                    <th>@CommonModel.RoleNameCont.BPM Approved</th>
                }
            </tr>
        </thead>
        <tbody>
            @{

                if (dt.Rows.Count > 0)
                {
                    int srno = 1;
                    foreach (DataRow dr in dt.Rows)
                    {
                        var bgcolor = ""; var strchecked = ""; var chked = "";
                        if ((CommonModel.RoleNameCont.MRP == MvcApplication.CUser.Role || CommonModel.RoleNameCont.Admin == MvcApplication.CUser.Role) && dr["Approved1Statusval"].ToString() == "1")
                        {
                            bgcolor = dr["Approved1bgColor"].ToString();
                            strchecked = "row-disabled"; chked = "checked";
                        }
                        if ((CommonModel.RoleNameCont.CC == MvcApplication.CUser.Role || CommonModel.RoleNameCont.Admin == MvcApplication.CUser.Role) && dr["Approved2Statusval"].ToString() == "1")
                        {
                            bgcolor = dr["Approved2bgColor"].ToString();
                            strchecked = "row-disabled"; chked = "checked";
                        }
                        if ((CommonModel.RoleNameCont.BPM == MvcApplication.CUser.Role || CommonModel.RoleNameCont.Admin == MvcApplication.CUser.Role) && dr["Approved3Statusval"].ToString() == "1")
                        {
                            bgcolor = dr["Approved3bgColor"].ToString();
                            strchecked = "row-disabled"; chked = "checked";
                        }
                        if (!string.IsNullOrWhiteSpace(strcheckedAll))
                        {
                            chked = "checked";
                        }
                        <tr class="@bgcolor @strchecked">
                            <td class="text-center">
                                <input type="checkbox" class="check" name="check" id="check@(srno)" @chked  onchange="CheckUnchecked(this)"
                                       data-serviceid="@dr["ServiceBFYId_pk"]" data-bfyid="@dr["BFYId_fk"]" />
                            </td>
                            <td class="text-center">
                                <a href="javascript:void(0);" onclick="BFYDetailView('@dr["BFYId_fk"]')" class="btn btn-warning btn-sm"><i class="fa fa-view"></i>@dr["BFYRegId"]</a>
                            </td>
                            <td class="text-left fw-bold">@dr["BFYName"]</td>
                            <td class="text-center">@dr["BFYReportingDate"]</td>
                            <td class="text-center text-warning fw-bold">@dr["ReportedBy"]</td>
                            <td class="text-center">@dr["BFYServiceRMY"]</td>
                            <td class="text-center text-warning fw-bold">@dr["ServiceReportingBy"]</td>
                            <td class="text-center">@dr["Contraceptive_Name"]</td>
                            <td class="text-center">@dr["Use_MethodName"]</td>
                            <td class="text-centxer">@dr["ServiceDate"]</td>
                            <td class="text-centxer text-warning fw-bold">@dr["CNRPEligible"]</td>
                            <td class="text-centxer text-warning fw-bold">@dr["CMEligible"]</td>
                            <td class="text-centxer">@dr["CLFName"]</td>
                            <td class="text-centxer">@dr["Panchayat"]</td>
                            <td class="text-centxer">@dr["VO"]</td>
                            @if ((CommonModel.RoleNameCont.MRP == MvcApplication.CUser.Role
                                || CommonModel.RoleNameCont.CC == MvcApplication.CUser.Role
                                || CommonModel.RoleNameCont.BPM == MvcApplication.CUser.Role
                                || CommonModel.RoleNameCont.Admin == MvcApplication.CUser.Role
                                ))
                            {
                                if (dr["Approved1Statusval"].ToString() == "1")
                                {
                                    <td class="text-centxer text-warning fw-bold"> @dr["Approved1dt"]</td>
                                    if (dr["Approved2Statusval"].ToString() == "1")
                                    {
                                        <td class="text-centxer text-warning fw-bold"> @dr["Approved2dt"]</td>
                                        if (dr["Approved3Statusval"].ToString() == "1")
                                        {
                                            <td class="text-centxer text-warning fw-bold"> @dr["Approved3dt"]</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                    }
                                }
                                else
                                {
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                }
                            }
                            @*@if ((CommonModel.RoleNameCont.CC == MvcApplication.CUser.Role || CommonModel.RoleNameCont.Admin == MvcApplication.CUser.Role))
                                {
                                    if (dr["Approved1Statusval"].ToString() == "1")
                                    {
                                        <td class="text-centxer text-warning fw-bold">@CommonModel.RoleNameCont.MRP Validated @dr["Approved1dt"]</td>
                                        if (dr["Approved2Statusval"].ToString() == "1")
                                        {
                                            <td class="text-centxer text-warning fw-bold">@CommonModel.RoleNameCont.CC Checked @dr["Approved2dt"]</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        if (dr["Approved3Statusval"].ToString() == "1")
                                        {
                                            <td class="text-centxer text-warning fw-bold">@CommonModel.RoleNameCont.BPM Approved @dr["Approved3dt"]</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                                @if ((CommonModel.RoleNameCont.BPM == MvcApplication.CUser.Role || CommonModel.RoleNameCont.Admin == MvcApplication.CUser.Role))
                                {
                                    if (dr["Approved1Statusval"].ToString() == "1")
                                    {
                                        <td class="text-centxer text-warning fw-bold">@CommonModel.RoleNameCont.MRP Validated @dr["Approved1dt"]</td>
                                        if (dr["Approved2Statusval"].ToString() == "1")
                                        {
                                            <td class="text-centxer text-warning fw-bold">@CommonModel.RoleNameCont.CC Checked @dr["Approved2dt"]</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        if (dr["Approved3Statusval"].ToString() == "1")
                                        {
                                            <td class="text-centxer text-warning fw-bold">@CommonModel.RoleNameCont.BPM Approved @dr["Approved3dt"]</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }*@
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="18" class="text-center">
                            <strong class="text-danger">Record Not Found !!</strong>
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
