@using System.Data
@using FP.Manager
@{
    DataSet ds = new DataSet();
    DataTable dtg = new DataTable();
    DataTable dtm = new DataTable();
    if (Model != null)
    {
        //ds = Model;
        dtg = Model;
    }
    DataView view = new DataView(dtg);//.Select("EmpName<>'_All' And Emp_ID<>'__All'"
    DataTable dtsn = view.ToTable(true, "EmpName");
    DataTable dtts = view.ToTable(true, "Emp_ID");
}
<style>
    .trdisableAprroved {
        color: #fff;
        pointer-events: none !important;
        background-color: #478718 !important
    }

    .trdisableReject {
        color: #fff;
        /*pointer-events: none !important;*/
        background-color: #b72525 !important
    }

    .trcolor {
        color: #000;
    }
    .table-bordered > tbody > tr:hover {
        background: white;
        color: black;
    }
</style>
<div class="row row-deck">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="table-responsive">

                <table class="table table-bordered dt-responsive display" id="DataList" bSort="false" width="100%">
                    <thead>
                        <tr>
                            <th>@CommonModel.DisAchvlbl.Name</th>
                            @*<th>@CommonModel.DisAchvlbl.TotalNoofParticipant</th>*@
                            <th>@CommonModel.DisAchvlbl.ClaimAmount</th>
                            <th>@CommonModel.DisAchvlbl.ApproveAmount</th>
                            <th>Peer group meeting</th>
                            <th>Home Visit</th>
                            <th>Linkage of beneficiary with health service provider</th>
                            <th>Participated in FP campaign</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 1; int indx = 1;
                            if (dtg.Rows.Count > 0)
                            {
                                foreach (DataRow dr in dtg.Rows)
                                {
                                    var clam = 0;var appvam = 0; var appvItem = 0;
                                    string EmpName = Convert.ToString(dr["EmpName"]);
                                    string Emp_ID = Convert.ToString(dr["Emp_ID"]);
                                    int peerGM = dr["Peer group meeting"] == null ? 0 : Convert.ToInt32(dr["Peer group meeting"]);
                                    var CLFValidation = dr["CLFValidation"] is DBNull ? false : Convert.ToBoolean(dr["CLFValidation"]);
                                    string CLFValidationDate = (dr["CLFValidationDate"] is DBNull || dr["CLFValidationDate"] == null) ? "" : Convert.ToDateTime(dr["CLFValidationDate"].ToString()).ToDateTimeddMMyyyy();
                                    var CLFLeadersPresident = dr["CLFLeadersPresident"] is DBNull ? false : Convert.ToBoolean(dr["CLFLeadersPresident"]);
                                    var CLFLeadersSecretary = dr["CLFLeadersSecretary"] is DBNull ? false : Convert.ToBoolean(dr["CLFLeadersSecretary"]);
                                    var CLFLeadersTreasurer = dr["CLFLeadersTreasurer"] is DBNull ? false : Convert.ToBoolean(dr["CLFLeadersTreasurer"]);

                                    if (!string.IsNullOrWhiteSpace(Emp_ID.ToLower()) && !string.IsNullOrWhiteSpace(EmpName.ToLower()))
                                    {
                                        DataTable dtcount = FP.Manager.SP_Model.SP_GetAchvPlanApproveChild("", dr["Emp_ID"].ToString(),
                                            Convert.ToInt32(dr["PlanMonth"].ToString()), Convert.ToInt32(dr["PlanYear"].ToString()), (int)(Enums.eTypeLayer.CC));
                                        var dtnoAppvd = dtcount.AsEnumerable().Where(x => x.Field<int?>("IsLevel2Approve") == 1);
                                        if (dtnoAppvd.Count() > 0)
                                        {
                                            appvItem = dtnoAppvd.Count();
                                        }
                                        else
                                        {
                                            appvItem = peerGM;
                                        }
                                        appvam = CommonModel.GetClaimApprove(appvItem, CommonModel.RoleNameCont.CNRP);
                                        clam = CommonModel.GetClaimApprove(peerGM, CommonModel.RoleNameCont.CNRP);
                                                <tr style="color:#1b6907;" data-empid="@Emp_ID">
                                                    <td data-title="EmpName" class="@("empname-" + EmpName.Replace(" ", "_").ToLower())">@EmpName</td>
                                                    @*<td data-title="NoOfMeetingHeld">@dr["NoOfMeetingHeld"]</td>*@
                                                    <td data-title="@CommonModel.DisAchvlbl.ClaimAmount">
                                                        @clam
                                                    </td>
                                                    <td data-title="@CommonModel.DisAchvlbl.ApproveAmount">
                                                        <strong id="appvamount-@Emp_ID">@appvam</strong>
                                                        &nbsp;
                                                        (<strong id="appvItem-@Emp_ID">@appvItem</strong>)
                                                    </td>
                                                    <td>@dr["Peer group meeting"]</td>
                                                    <td>@dr["Home Visit"]</td>
                                                    <td>@dr["Linkage of beneficiary with health service provider"]</td>
                                                    <td>@dr["Participated in FP campaign"]</td>
                                                    <td><a href="javascript:void(0);" class="btn btn-primary" onclick="AchievementDetailsByUser('@dr["Emp_ID"].ToString()', '@dr["EmpName"].ToString()', '@CLFValidation.ToString()', '@CLFValidationDate', '@CLFLeadersPresident.ToString()', '@CLFLeadersSecretary.ToString()', '@CLFLeadersTreasurer.ToString()' )">Details</a></td>
                                                </tr>
                                    }
                                }
                            }
                            else
                            {
                                <tr><td colspan="11" class="text-danger text-center"><strong>@(Enums.GetEnumDescription(Enums.eReturnReg.RecordNotFound))</strong></td></tr>
                            }
                        }

                    </tbody>

                </table>
               
            </div>
        </div>
    </div>
</div>

