@using System.Data
@using FP.Manager
@{
    var indx = 0;
    var dtRows1 = ((DataTable)Model).Select(@"ActivityId_fk <> 1");
    var dtRows2 = ((DataTable)Model).Select(@"ActivityId_fk = 1");

    if (dtRows2.Length > 0)
    {
        <div>
            <label>Peer group meeting</label>
        </div>
        <table class="table table-bordered" id="tbl-pgm">
            <thead>
                <tr>
                    <th></th>
                    <th>Panchayat</th>
                    <th>VO</th>
                    <th>Meeting held</th>
                    <th>Participants</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow dr1 in dtRows2)
                {
                    string EmpName = Convert.ToString(dr1["EmpName"]);
                    string Emp_ID = Convert.ToString(dr1["Emp_ID"]);

                    var appr = Convert.ToInt16(Enums.eTypeApprove.Approve).ToString();
                    var Reject = Convert.ToInt16(Enums.eTypeApprove.Reject).ToString();
                    var distbl = dr1["IsLevel3Approve"].ToString() == appr ? "trdisableAprroved" :
                    dr1["IsLevel3Reject"].ToString() == "1" && dr1["PlanStatus"].ToString() == Reject ? "trdisableReject" : "trcolor";
                    var strchecked = dr1["IsLevel2Approve"].ToString() == "1"
                    ? "checked=checked" : dr1["IsLevel3Reject"].ToString() == "1" ? "" : "checked=checked";
                    var Level1AppvdDtMRP = dr1["IsLevel3Approve"].ToString() == appr ? dr1["Level3ApproveDt"].ToString() : "";

                    <tr class="@("empname-" + EmpName.Replace(" ", "_").ToLower()) index-@indx @distbl">

                        <td>
                            <input type="checkbox" name="chkApprove" data-achvplanid="@dr1["AchieveId_pk"]"
                                   data-uid="@dr1["UserID_fk"]" data-empid="@dr1["Emp_ID"]"
                                   data-disid="@dr1["DistrictId_pk"]" data-blckid="@dr1["BlockId_pk"]"
                                   data-clfid="@dr1["CLF_ID_pk"]" data-pchytid="@dr1["Panchayatid_pk"]" data-vorgid="@dr1["Void_pk"]"
                                   data-planstatus="@dr1["PlanStatus"]"
                                   value="@dr1["AchieveId_pk"]" @strchecked />
                        </td>
                        <td data-title="Panchayat">@dr1["Panchayat"]</td>
                        <td data-title="VO">@dr1["VO"]</td>
                        <td data-title="Meetingheld">@(CommonModel.FormateDtDMY(dr1["Meetingheld"].ToString()))</td>
                        <td data-title="Noofparticipant">@dr1["Noofparticipant"]</td>
                        <td data-title="Remark" width="300px">
                            <textarea id="remark-@dr1["AchieveId_pk"]" name="Remark-@dr1["AchieveId_pk"]" class="form-control" rows="1" cols="12">@dr1["Remark2"].ToString()</textarea>
                            <span id="remark-@dr1["AchieveId_pk"]-error" class="text-danger"></span>
                            @dr1["Level3RejectDt"].ToString()

                        </td>
                    </tr>
                    indx++;
                }
            </tbody>
        </table>
    }

    if (dtRows1.Length > 0)
    {
        <div>
            <label>Other Activites</label>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>Panchayat</th>
                    <th>VO</th>
                    <th>Meeting held</th>
                    <th>Participants</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow dr1 in dtRows1)
                {
                    <tr>
                        <td>@dr1["Activity"]</td>
                        <td data-title="Panchayat">@dr1["Panchayat"]</td>
                        <td data-title="VO">@dr1["VO"]</td>
                        <td data-title="Meetingheld">@(CommonModel.FormateDtDMY(dr1["Meetingheld"].ToString()))</td>
                        <td data-title="Noofparticipant">@dr1["Noofparticipant"]</td>
                    </tr>
                    indx++;
                }
            </tbody>
        </table>

    }

}
