@using System.Data
@using FP.Manager
@{
    DataTable dt = new DataTable();
    dt = Model;
}

<div class="table-responsive">
    <table class="table table-bordered table-striped" id="tbl">
        <thead class="text-center">
            <tr>
                <th>Srno.</th>
                <th>Beneficiary<br /> ID</th>
                @*<th>District</th>
                    <th>Block</th>
                    <th>Panchayat</th>
                    <th>Village <br />Organization</th>*@
                <th>Reporting <br />Month</th>
                <th>Health <br />Center </th>
                <th>Name of<br />Beneficiary</th>
                <th>Mobile no. of beneficiary</th>
                <th>Reported By </th>
                <th>View </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (dt.Rows.Count > 0)
                {
                    int srno = 1;
                    foreach (DataRow dr in dt.Rows)
                    {
                        var fcl = !string.IsNullOrWhiteSpace(dr["AchbgColor"].ToString()) ? "#fff;" : "";

                        <tr class="@dr["AchbgColor"]" style="color:@fcl">
                            <td class="text-center">@(srno++)</td>
                            <td class="text-center">@dr["BFYID"]</td>
                            @*<td class="text-left">@dr["DistrictName"]</td>
                                <td class="text-left">@dr["Block"]</td>
                                <td class="text-left">@dr["Panchayat"]</td>
                                <td class="text-left">@dr["VO"]</td>*@
                            <td class="text-center">@CommonModel.FormateDtDMY(dr["ReportingDate"].ToString())</td>
                            <td class="text-left">@dr["HealthCenter"]</td>
                            <td class="text-left">@dr["BFYName"]</td>
                            <td class="text-center">@dr["BFYMobileNo"]</td>
                            <td class="text-center">@dr["EmpName"]</td>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(dr["C_Name"].ToString()))
                                {
                                    <a href="javascript:void(0);" onclick="DisplayPOPView('@dr["BpkID"]','@dr["PlanID_pk"]','@dr["AchvtBFYID_pk"]')" class="btn btn-outline-success btn-sm"><i class="fa fa-view"></i> View</a>
                                }
                            </td>
                            <td class="text-center">
                                @*<a href="~/Beneficiary/Beneficiary?id=@dr["BpkID"]" class="btn btn-primary btn-sm"><i class="fa fa-add"></i></a>*@
                                @*data-bs-toggle="modal" data-bs-target="#myModal"*@
                                @if (!string.IsNullOrEmpty(dr["PlanID_pk"].ToString()))
                                {
                                    if (dr["IsPlanAchved"].ToString() == "1")
                                    {
                                        <strong class="text-white">Achieved</strong>
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0);" onclick="DisplayPOP('@dr["BpkID"]','@dr["PlanID_pk"]')" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Add</a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" class="text-center"><strong class="text-danger">Record Not Found !!</strong></td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
