@using System.Data
@using FP.Manager
@{
    DataTable dt = new DataTable();
    dt = Model;
}
<style>
    table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting_asc_disabled, table.dataTable thead > tr > th.sorting_desc_disabled, table.dataTable thead > tr > td.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting_asc_disabled, table.dataTable thead > tr > td.sorting_desc_disabled {
        padding-right: 0px !important;
    }
</style>
<div class="bg-light rounded h-100 p-4">
    <div class="table-responsive">
        <table class="table table-bordered table-striped" id="tbl">
            <thead class="text-center">
                <tr>
                    <th>Check All<input type="checkbox" class="allChecked" name="selectAll" id="selectAll" value="all" checked onchange="CheckUnchecked(this)" /></th>
                    <th>Srno.</th>
                    <th>Beneficiary<br /> ID</th>
                    <th>Panchayat</th>
                    <th>Village <br />Organization</th>
                    <th>Reporting <br />Month</th>
                    <th>Name of<br />Beneficiary</th>
                    <th>Beneficiary Mobile No</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (dt.Rows.Count > 0)
                    {
                        int srno = 1;
                        foreach (DataRow dr in dt.Rows)
                        {
                            <tr data-cmmipid="@dr["CMMIPId_pk"]" data-bfyid="@dr["BpkID"]" data-folloupid="@dr["FollowupId"]"
                                disid="@dr["DistrictId_pk"]" blckid="@dr["BlockId_pk"]"
                                clfid="@dr["CLF_ID_pk"]" pchytid="@dr["Panchayatid_pk"]" vorgid="@dr["Void_pk"]">
                                <td><input type="checkbox" class="check" name="check" id="check@(srno)" checked onchange="CheckUnchecked(this)" /></td>
                                <td class="text-center">@(srno++)</td>
                                <td class="text-center">
                                    <a href="javascript:void(0);" onclick="BFYDetailView('@dr["BpkID"]')" class="btn btn-success btn-sm"><i class="fa fa-view"></i>@dr["BFYID"]</a>
                                </td>
                                <td class="text-left">@dr["Panchayat"]</td>
                                <td class="text-left">@dr["VO"]</td>
                                <td class="text-center">@dr["ReportingDate"]</td>
                                <td class="text-left">@dr["BFYName"]</td>
                                <td class="text-center">@dr["BFYMobileNo"]</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8" class="text-center"><strong class="text-danger">Record Not Found !!</strong></td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>

</div>