@*@using FP.Models.BeneficiaryModel*@
@using System.Data
@using FP.Manager
@{
    DataTable dt = new DataTable();
    dt = Model;
}
<style>
    

    .benefit-box {
        padding: 15px 10px;
        border-radius: 6px;
        background: #F3F6F9;
        font-size: 13px;
    }

        .benefit-box div {
            padding: 2px 0
        }

        .benefit-box .form-group strong {
            float: right
        }

    @@media screen and (max-width: 768px) {
        .benefit {
            flex-direction: column
        }
    }
</style>

<div class="row g-1">
    <div class="col-sm-12">
        <div class="h-100 p-2">
            <div class="benefit">
                <div class="col-sm-6 benefit-box ">
                    <div class="col-sm-12">
                        <div class="position-relative form-group">
                            <label>@FP.Models.DisplayFollowBFY.BeneficiaryRegID : </label>
                            <strong class="text-success">@dt.Rows[0]["BFYRegId"].ToString()</strong>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="position-relative form-group">
                            <label>Month/Year : </label>
                            <strong>@dt.Rows[0]["BFYReportingDate"].ToString()</strong>
                        </div>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["DistrictName"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.DDis : </label>
                                <strong>@dt.Rows[0]["DistrictName"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["Block"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.DBlck : </label>
                                <strong>@dt.Rows[0]["Block"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["CLFName"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.DCLF : </label>
                                <strong>@dt.Rows[0]["CLFName"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["Panchayat"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.DPanyt : </label>
                                <strong>@dt.Rows[0]["Panchayat"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["VO"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.DVO : </label>
                                <strong>@dt.Rows[0]["VO"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["HealthCenter"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.HealthCD : </label>
                                <strong>@dt.Rows[0]["HealthCenter"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["BFYVillageName"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.DBFYVillage : </label>
                                <strong>@dt.Rows[0]["BFYVillageName"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["SHGName"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.Q2D : </label>
                                <strong>@dt.Rows[0]["SHGName"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["BFYName"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.Q3D : </label>
                                <strong>@dt.Rows[0]["BFYName"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["BFYDOB"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.Q4ABFYAgeD : </label>
                                <strong>@dt.Rows[0]["BFYAge"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["HusbandName"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.Q5D : </label>
                                <strong>@dt.Rows[0]["HusbandName"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["MarriageType"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@dt.Rows[0]["MarriageType"].ToString() : </label>
                                <strong>@dt.Rows[0]["DOM"].ToString()</strong>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-sm-6 benefit-box">

                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["BFYMobileNo"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.Q7D : </label>
                                <strong>@dt.Rows[0]["BFYMobileNo"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["SHGAffiliation"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.Q8D : </label>
                                <strong>@dt.Rows[0]["SHGAffiliation"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["SHGGroupName"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.Q9D : </label>
                                <strong>@dt.Rows[0]["SHGGroupName"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["NoofChildMale"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.Q10D : </label>
                                <strong>@dt.Rows[0]["NoofChildMale"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["NoofChildFemale"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.Q11D : </label>
                                <strong>@dt.Rows[0]["NoofChildFemale"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["YoungestChild"].ToString()) && dt.Rows[0]["YoungestChild"].ToString() != "No")
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.Q12D : </label>
                                <strong>@dt.Rows[0]["YoungestChildAge"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["AWCCode"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.Q13D : </label>
                                <strong>@dt.Rows[0]["AWCCode"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["ASHAName"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.Q14D : </label>
                                <strong>@dt.Rows[0]["ASHAName"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["ContraceptiveName"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.Q15D : </label>
                                <strong>@dt.Rows[0]["ContraceptiveName"].ToString()</strong>
                            </div>
                        </div>
                        if (!string.IsNullOrWhiteSpace(dt.Rows[0]["UseMethodName"].ToString()))
                        {
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    @if (dt.Rows[0]["Q15"].ToString() == ((int)Enums.eContraceptive.Temporary).ToString())
                                    {
                                        <label>@FP.Models.BFYView_Model.Q16D : </label>
                                        <strong>@dt.Rows[0]["UseMethodName"].ToString()</strong>
                                    }
                                    @if (dt.Rows[0]["Q15"].ToString() == ((int)Enums.eContraceptive.Permanent).ToString())
                                    {
                                        <label>@FP.Models.BFYView_Model.Q17D : </label>
                                        <strong>@dt.Rows[0]["UseMethodName"].ToString()</strong>
                                    }
                                    @if (dt.Rows[0]["Q15"].ToString() == ((int)Enums.eContraceptive.OtherMethod).ToString())
                                    {
                                        <label>@FP.Models.BFYView_Model.Q17D : </label>
                                        <strong>@dt.Rows[0]["UseMethodName"].ToString()</strong>
                                    }
                                </div>
                            </div>
                        }
                    }

                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["NumberofSHG"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.Q20D : </label>
                                <strong>@dt.Rows[0]["NumberofSHG"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["MediumMRollout"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.Q21D : </label>
                                <strong>@dt.Rows[0]["MediumMRollout"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["ReportedBy"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.Reportedby : </label>
                                <strong>@dt.Rows[0]["ReportedBy"].ToString()</strong>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(dt.Rows[0]["ReportedOn"].ToString()))
                    {
                        <div class="col-sm-12">
                            <div class="position-relative form-group">
                                <label>@FP.Models.BFYView_Model.ReportedDt : </label>
                                <strong>@CommonModel.FormateDtDMY(dt.Rows[0]["ReportedOn"].ToString())</strong>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>


    </div>

</div>

