@model FP.Models.BeneficiaryModel
@using FP.Manager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table th {
        font-size: 14px;
    }

    .table td {
        font-size: 13px;
    }

    .checkbox input {
        margin-right: 3px;
    }

    .check-spacer {
        display: inline-block;
        margin-right: 15px;
    }

    .actives2 {
        color: #009A3F !important;
        background: #FFFFFF;
        border-color: #009CFF;
    }
</style>
<div class="breadcrumb">
    <h2>Add Beneficiary</h2>
    <p><a href="~/Beneficiary/BFYList"><i class="fa fa-list"></i>Beneficiary List</a> / Add Beneficiary</p>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4ss">
        @using (Html.BeginForm("Beneficiary", "Beneficiary", FormMethod.Post, new { @class = "", @id = "formid", role = "form", autocomplete = "off", enctype = "multipart/form-data", noValidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Beneficiary_Id_pk)
            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
            <div class="bg-light rounded h-100 p-4 row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="mb-3">
                        @Html.LabelFor(m => m.HindiEng, new { @class = "col-md-2 col-form-label" })
                        @Html.DropDownListFor(m => m.HindiEng, CommonModel.GetLanguangeType(), null, new { @class = "form-select mb-3" })
                    </div>
                    <div class="mb-3" style="display:none;" id="div-Q1">
                        @Html.Label(Model.Q1D, htmlAttributes: new { @class = "" })
                        @Html.LabelFor(m => m.Q1, htmlAttributes: new { @class = "form-control col-md-4" })
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.DDis, htmlAttributes: new { @class = "" })
                        @Html.DropDownListFor(m => m.DistrictId_fk, new List<SelectListItem>(), null, new { @class = "form-select mb-3" })
                        @Html.ValidationMessageFor(m => m.DistrictId_fk, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.DBlck, htmlAttributes: new { @class = "" })
                        @Html.DropDownListFor(m => m.BlockId_fk, new List<SelectListItem>(), null, new { @class = "form-select mb-3" })
                        @Html.ValidationMessageFor(m => m.BlockId_fk, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.DCLF, htmlAttributes: new { @class = "" })
                        @Html.DropDownListFor(m => m.CLFId_fk, new List<SelectListItem>(), null, new { @class = "form-select mb-3" })
                        @Html.ValidationMessageFor(m => m.CLFId_fk, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.DPanyt, htmlAttributes: new { @class = "" })
                        @Html.DropDownListFor(m => m.PanchayatId_fk, new List<SelectListItem>(), null, new { @class = "form-select mb-3" })
                        @Html.ValidationMessageFor(m => m.PanchayatId_fk, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.DVO, htmlAttributes: new { @class = "" })
                        @Html.DropDownListFor(m => m.VillageOId_fk, new List<SelectListItem>(), null, new { @class = "form-select mb-3" })
                        @Html.ValidationMessageFor(m => m.VillageOId_fk, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.ReportingDtD, htmlAttributes: new { @class = "" })
                        <div class="row">
                            <div class="col-md-6">
                                @Html.DropDownListFor(m => m.ReportingMonth, CommonModel.GetMonth(1), null, new { @class = "form-control " })
                                @Html.ValidationMessageFor(m => m.ReportingMonth, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6">
                                @Html.DropDownListFor(m => m.ReportingYear, CommonModel.GetYear(1), null, new { @class = "form-control " })
                                @Html.ValidationMessageFor(m => m.ReportingYear, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.HealthCD, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(m => m.HealthCenter, new { htmlAttributes = new { @class = "form-control col-md-4 count-input", maxlength = "400" } })
                        @Html.ValidationMessageFor(m => m.HealthCenter, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.Q2D, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(m => m.Q2, new { htmlAttributes = new { @class = "form-control col-md-4 count-input", maxlength = "400" } })
                        @Html.ValidationMessageFor(m => m.Q2, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.Q3D, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(m => m.Q3, new { htmlAttributes = new { @class = "form-control col-md-4 count-input", maxlength = "400" } })
                        @Html.ValidationMessageFor(m => m.Q3, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        <div class="position-relative form-group">
                            <div class="checkbox">
                                @foreach (var item in CommonModel.GetDOBYear())
                                {
                                    <span class="check-spacer">
                                        @Html.RadioButtonFor(model => model.IsDOB, item.Value, new { id = "Q6DOBYear" + item.Value, @required = "required" }) @item.Text
                                    </span>
                                }
                                @Html.ValidationMessageFor(model => model.IsDOB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.Q4D, htmlAttributes: new { @class = "cl-BFYDOB" })
                        @Html.EditorFor(m => m.BFYDOB, new { htmlAttributes = new { @class = "form-control col-md-4 date_picker clage cl-BFYDOB" } })@*//, minlength = "10", maxlength = "10"*@
                        <strong id="bfyage" class="text-success"></strong>
                        @Html.ValidationMessageFor(m => m.BFYDOB, "", new { @class = "text-danger" })
                        @Html.LabelFor(m => m.BFYDOBYear, htmlAttributes: new { @class = "cl-BFYDOBYear", @style = "display:none;" })
                        @Html.EditorFor(m => m.BFYDOBYear, new { htmlAttributes = new { @class = "form-control col-md-4 numbersOnly cl-BFYDOBYear", min = "4", maxlength = "4", @style = "display:none;" } })
                        @Html.ValidationMessageFor(m => m.BFYDOBYear, "", new { @class = "text-danger cl-BFYDOBYear" })
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.Q5D, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(m => m.Q5, new { htmlAttributes = new { @class = "form-control col-md-4 count-input", maxlength = "400" } })
                        @Html.ValidationMessageFor(m => m.Q5, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        <div class="position-relative form-group">
                            <div class="checkbox">
                                @foreach (var item in CommonModel.GetDOMYear())
                                {
                                    <span class="check-spacer">
                                        @Html.RadioButtonFor(model => model.Q6DOMYear, item.Value, new { id = "Q6DOMYear" + item.Value, @required = "required" }) @item.Text
                                    </span>
                                }
                                @Html.ValidationMessageFor(model => model.Q6DOMYear, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="mb-3" id="Q6-div" style="display:none;">
                        @Html.Label(Model.Q6D, htmlAttributes: new { @class = "cl-Q6", @style = "display:none;" })
                        @Html.EditorFor(m => m.Q6, new { htmlAttributes = new { @class = "form-control col-md-4 date_picker cl-Q6", maxlength = "12", @style = "display:none;" } })
                        @Html.ValidationMessageFor(m => m.Q6, "", new { @class = "text-danger cl-Q6", @style = "display:none;" })
                        @Html.Label(Model.Q6_YearD, htmlAttributes: new { @class = "cl-Q6_Year", @style = "display:none;" })
                        @Html.EditorFor(m => m.Q6_Year, new { htmlAttributes = new { @class = "form-control col-md-4 numbersOnly cl-Q6_Year", min = "4", maxlength = "4", @style = "display:none;" } })
                        @Html.ValidationMessageFor(m => m.Q6_Year, "", new { @class = "text-danger cl-Q6_Year" })
                    </div>

                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="mb-3">
                        @Html.Label(Model.Q7D, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(m => m.Q7, new { htmlAttributes = new { @class = "form-control col-md-4 numbersOnly", min = "10", maxlength = "10", } })
                        @Html.ValidationMessageFor(m => m.Q7, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        <div class="position-relative form-group">
                            @Html.Label(Model.Q8D, htmlAttributes: new { @class = "" })
                            <div class="checkbox">
                                @foreach (var item in CommonModel.GetSHGAffiliation())
                                {
                                    <span class="check-spacer">
                                        @Html.RadioButtonFor(model => model.Q8, item.Value, new { id = "Q8" + item.Value, @required = "required" }) @item.Text
                                    </span>
                                }
                                @Html.ValidationMessageFor(model => model.Q8, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="mb-3" id="div-q9" style="display:none;">
                        @Html.Label(Model.Q9D, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(m => m.Q9, new { htmlAttributes = new { @class = "form-control col-md-4 count-input", maxlength = "400" } })
                        @Html.ValidationMessageFor(m => m.Q9, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.Q10D, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(m => m.Q10, new { htmlAttributes = new { @class = "form-control col-md-4 numbersOnly", min = "0", oninput = "maxLengthCheck(this)", max = "99", maxlength = "2" } })
                        @Html.ValidationMessageFor(m => m.Q10, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.Q11D, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(m => m.Q11, new { htmlAttributes = new { @class = "form-control col-md-4 numbersOnly", min = "0", oninput = "maxLengthCheck(this)", max = "99", maxlength = "2" } })
                        @Html.ValidationMessageFor(m => m.Q11, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.DPregnant, htmlAttributes: new { @class = "" })
                        <div class="position-relative form-group">
                            <div class="checkbox">
                                @foreach (var item in CommonModel.GetYesNotrue())
                                {
                                    <span class="check-spacer">
                                        @Html.RadioButtonFor(model => model.IsPregnant, item.Value, new { id = "IsPregnant" + item.Value, @required = "required" }) @item.Text
                                    </span>
                                }
                                @Html.ValidationMessageFor(model => model.IsPregnant, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.Q12_1D, htmlAttributes: new { @class = "" })
                        <div class="position-relative form-group">
                            <div class="checkbox">
                                @foreach (var item in CommonModel.GetBoyGirl())
                                {
                                    <span class="check-spacer">
                                        @Html.RadioButtonFor(model => model.Q12_1, item.Value, new { id = "Q12_1" + item.Value, @required = "required" }) @item.Text
                                    </span>
                                }
                                @Html.ValidationMessageFor(model => model.Q12_1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="mb-3" style="display:none;" id="YoungestDOB-div">
                        @Html.Label(Model.Q12D, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(m => m.YoungestDOB, new { htmlAttributes = new { @class = "form-control col-md-4 date_picker" } })@*, minlength = "10", maxlength = "10"*@
                        <strong id="youngestyage" class="text-success"></strong>
                        @Html.ValidationMessageFor(m => m.YoungestDOB, "", new { @class = "text-danger " })
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.DBFYVillage, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(m => m.BFYVillageName, new { htmlAttributes = new { @class = "form-control col-md-4", maxlength = "400" } })
                        @Html.ValidationMessageFor(m => m.BFYVillageName, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.Q13D, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(m => m.Q13, new { htmlAttributes = new { @class = "form-control col-md-4" } })
                        @Html.ValidationMessageFor(m => m.Q13, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.Q14D, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(m => m.Q14, new { htmlAttributes = new { @class = "form-control col-md-4" } })
                        @Html.ValidationMessageFor(m => m.Q14, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        @Html.Label(Model.Q15D, htmlAttributes: new { @class = "" })
                        @Html.DropDownListFor(m => m.Q15, new List<SelectListItem>(), null, new { @class = "form-select mb-3" })
                        @Html.ValidationMessageFor(m => m.Q15, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3" id="div-Q16" style="display:none;">
                        @Html.Label(Model.Q16D, htmlAttributes: new { @class = "" })
                        @Html.DropDownListFor(m => m.Q16, new List<SelectListItem>(), null, new { @class = "form-select mb-3" })
                        @Html.ValidationMessageFor(m => m.Q16, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3" id="div-Q17" style="display:none;">
                        @Html.Label(Model.Q17D, htmlAttributes: new { @class = "" })
                        @Html.DropDownListFor(m => m.Q17, new List<SelectListItem>(), null, new { @class = "form-select mb-3" })
                        @Html.ValidationMessageFor(m => m.Q17, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3" id="div-Q18" style="display:none;">
                        @Html.Label(Model.Q18D, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(m => m.Q18, new { htmlAttributes = new { @class = "form-control col-md-4" } })
                        @Html.ValidationMessageFor(m => m.Q18, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3" >
                        @Html.Label(Model.Q20D, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(m => m.Q20, new { htmlAttributes = new { @class = "form-control col-md-4 numbersOnly", min = "0", oninput = "maxLengthCheck(this)", max = "999", maxlength = "3" } })
                        @Html.ValidationMessageFor(m => m.Q20, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3" >
                        @Html.Label(Model.Q21D, htmlAttributes: new { @class = "" })
                        @Html.DropDownListFor(m => m.Q21, CommonModel.GetModuleRollout(), "Select", new { @class = "form-control col-md-4" })
                        @Html.ValidationMessageFor(m => m.Q21, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="mb-3">
                    <span class="check-spacer">
                        <input type="submit" name="btnsubmit" id="btnsubmit" class="btn btn-primary" value="Submit" />
                    </span>
                    <span class="check-spacer">
                        <a href="~/Beneficiary/Beneficiary" class="btn btn-danger"><i class="fa fa-refresh"></i> Reset</a>
                    </span>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JS/Master.js"></script>
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">*@
    @*<link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'
              rel='stylesheet'>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>*@

<script>
        $(document).ready(function () {

            $('.count-input').unbind('keyup change input paste').bind('keyup change input paste', function (e) {
                var $this = $(this);

                var val = $this.val();
                var valLength = val.length;
                var maxCount = $this.attr('maxlength');
                if (typeof maxCount == "undefined") {
                    $this.attr('maxlength', 400);
                }
                if (valLength > maxCount) {
                    $this.val($this.val().substring(0, maxCount));
                }
            });
            $('.date_picker').datepicker({
                dateFormat: 'dd/mm/yy',
                maxDate: '0',
                //maxDate: "+1M +10D",
                changeMonth: true,
                changeYear: true,
            });
            //$('.test-input').unbind('keyup change input paste').bind('keyup change input paste', function (e) {
            //    debugger
            //    var $this = $(this);
            //    var val = $this.val();
            //    var valLength = val.length;
            //    var maxCount = $this.attr('maxlength');
            //    if (valLength > maxCount) {
            //        $this.val($this.val().substring(0, maxCount));
            //    }
            //});
            $('#YoungestDOB').change(function () {
                var DOB = getAge($(this).val());
                $('#youngestyage').html(DOB);
            })
            $('#BFYDOB').change(function () {
                var DOB = getAge($(this).val());
                $('#bfyage').html(DOB);
            })

            $('input[name=Q12_1]').click(function () {
                $('#YoungestDOB-div').css('display', 'none');
                $('#YoungestDOB').val(''); $('#YoungestDOB').removeAttr('required');
                if ($(this).val() == "Boy" || $(this).val() == "Girl") {
                    $('#YoungestDOB-div').css('display', 'block');
                    $('#YoungestDOB').attr('required', 'required');
                }
            });
            $('input[name=Q6DOMYear]').click(function () {
                $('#Q6-div').css('display', 'block');
                $('#Q6').val(''); $('#Q6_Year').val(''); $('.cl-Q6').css('display', 'none'); $('.cl-Q6_Year').css('display', 'none');
                $('#Q6').removeAttr('required'); $('#Q6_Year').removeAttr('required');
                if ($(this).val() == "1") {
                    $('.cl-Q6').css('display', 'block');
                    $('#Q6').attr('required', 'required');
                }
                else if ($(this).val() == "2") {
                    $('.cl-Q6_Year').css('display', 'block');
                    $('#Q6_Year').attr('required', 'required');
                }
            });
            $('input[name=IsDOB]').click(function () {
                $('#div-BFYDOBYear').css('display', 'block');
                $('#BFYDOB').val(''); $('#BFYDOBYear').val(''); $('.cl-BFYDOB').css('display', 'none'); $('.cl-BFYDOBYear').css('display', 'none');
                $('#BFYDOB').removeAttr('required'); $('#BFYDOBYear').removeAttr('required');
                if ($(this).val() == "1") {
                    $('.cl-BFYDOB').css('display', 'block');
                    $('#BFYDOB').attr('required', 'required');
                }
                else if ($(this).val() == "2") {
                    $('.cl-BFYDOBYear').css('display', 'block');
                    $('#BFYDOBYear').attr('required', 'required');
                }
            });

            $('input[name=Q8]').click(function () {
                $('#Q9').val('');
                if ($(this).val() == "2") {
                    $('#div-q9').show();
                    $('#Q9').attr('required', 'required');
                }
                else {
                    $('#div-q9').hide();
                    $('#Q9').removeAttr('required');
                }
            });

            $('#HindiEng').change(function () {
                var url = '@Url.Action("Beneficiary", "Beneficiary")';
                window.location.href = url + '?HindiEng=' + $(this).val();
                if ('@Model.Beneficiary_Id_pk' != '00000000-0000-0000-0000-000000000000') {
                    window.location.href = url + '?HindiEng=' + $(this).val() + '&&Id=' + '@Model.Beneficiary_Id_pk';
                    BindEdit();
                    }//End Edit Function
            });
            GetDistrict("DistrictId_fk", 0);
            GetContraceptive("Q15", 0);
            $('#DistrictId_fk').change(function () {
                GetBlock("BlockId_fk", 0, $(this).val());
            });
            $('#BlockId_fk').change(function () {
                //GetPanchayat("PanchayatId_fk", 0, $('#DistrictId_fk').val(), $(this).val());
                GetCLF("CLFId_fk", 0, $('#DistrictId_fk').val(), $(this).val());
            });
            $('#CLFId_fk').change(function () {
                GetPanchayat("PanchayatId_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val(), $(this).val());
            });
            $('#PanchayatId_fk').change(function () {
                GetVillage("VillageOId_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val(), $('#CLFId_fk').val(), $(this).val());
            });

            $('#Q15').change(function () {
                $('#Q18').val('');
                GetContraceptiveChildList("Q16", 0, "");
                GetContraceptiveChildList("Q17", 0, "");
                $('#Q16').removeAttr('required');
                $('#Q17').removeAttr('required');
                $('#Q18').removeAttr('required');
                if ($(this).val() == "1") {
                    GetContraceptiveChildList("Q16", 0, 1);
                    $('#div-Q18').css('display', 'none');
                    $('#div-Q17').css('display', 'none');
                    $('#div-Q16').css('display', 'block');
                    $('#Q16').attr('required', 'required');
                }
                else if ($(this).val() == "2") {
                    GetContraceptiveChildList("Q17", 0, 2);
                    $('#div-Q18').css('display', 'none');
                    $('#div-Q17').css('display', 'block');
                    $('#div-Q16').css('display', 'none');
                    $('#Q17').attr('required', 'required');
                }
                else if ($(this).val() == "4") {
                    $('#div-Q18').css('display', 'block');
                    $('#div-Q17').css('display', 'none');
                    $('#div-Q16').css('display', 'none');
                    $('#Q18').attr('required', 'required');
                }
                else {
                    $('#div-Q18').css('display', 'none');
                    $('#div-Q17').css('display', 'none');
                    $('#div-Q16').css('display', 'none');
                }
            });

            $('.agevalid').change(function () {
                AgeGreater();
            })

            /* Role Wise */
            BindRolewise("DistrictId_fk", "BlockId_fk","CLFId_fk", "PanchayatId_fk", "VillageOId_fk");

            if ('@Model.Beneficiary_Id_pk' != '00000000-0000-0000-0000-000000000000') {
                BindEdit();
            }//End Edit Function

            $("#btnsubmit").click(function (e) {
                e.preventDefault();
                CUData();
            });
            //BindData();



            @*if ('@CommonModel.RoleNameCont.CM' === '@MvcApplication.CUser.Role') {
                $('#DistrictId_fk').val(('@MvcApplication.CUser.DistrictId').toLowerCase());
                $('#DistrictId_fk').attr("style", "pointer-events: none;");
                GetBlock('BlockId_fk',0, $('#DistrictId_fk').val());
                $('#BlockId_fk').val(('@MvcApplication.CUser.BlockId').toLowerCase());
                $('#BlockId_fk').attr("style", "pointer-events: none;");
                GetPanchayat("PanchayatId_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val());
                $('#PanchayatId_fk').val(('@MvcApplication.CUser.Panchayatid').toLowerCase());
                $('#PanchayatId_fk').attr("style", "pointer-events: none;");
                GetVillage("VillageOId_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val(), $('#PanchayatId_fk').val());
                $('#VillageOId_fk').val(('@MvcApplication.CUser.Void').toLowerCase());
                $('#VillageOId_fk').attr("style", "pointer-events: none;");
            }

            if ('@CommonModel.RoleNameCont.CNRP' === '@MvcApplication.CUser.Role') {
                $('#DistrictId_fk').val(('@MvcApplication.CUser.DistrictId').toLowerCase());
                $('#DistrictId_fk').attr("style", "pointer-events: none;");
                GetBlock('BlockId_fk', 0, $('#DistrictId_fk').val());
                $('#BlockId_fk').val(('@MvcApplication.CUser.BlockId').toLowerCase());
                $('#BlockId_fk').attr("style", "pointer-events: none;");
                GetPanchayat("PanchayatId_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val());
                $('#PanchayatId_fk').val(('@MvcApplication.CUser.Panchayatid').toLowerCase());
                $('#PanchayatId_fk').attr("style", "pointer-events: none;");
                GetVillage("VillageOId_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val(), $('#PanchayatId_fk').val());
            }*@


        });

        function AgeGreater() {
            var montherage = $('#BFYDOB').val() != '' ? parseFloat($('#BFYDOB').val()) : 0;
            var childage = $('#YoungestDOB').val() != '' ? parseFloat($('#YoungestDOB').val()) : 0;
            if ((montherage != 0 && montherage != undefined) && (AgeGreater != 0 && AgeGreater != undefined)) {
                if (childage >  montherage) {
                    toastr.error("error", "Age of Beneficiary (In year/Month) less than Age of youngest child (Year/months)");
                    $('#YoungestDOB').val('');
                    return false;
                }
            }

        }

        function BindData() {
            $.ajax({
                type: "GET",
                url: document.baseURI + "/Master/GetVillagedetaillist",
                data: JSON.stringify({ 'DistrictId': $('#DistrictId_fk').val(), 'BlockId': $('#BlockId_fk').val(), 'PanchayatId': $('#Panchayatid_fk').val() }),
                cache: false,
                success: function (res) {
                    if (res.IsSuccess) {
                        $("#subdata").html(res.Data);
                    }
                    $("#subdata").html(res.Data);
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //Do To Message display
                }
            });
        }

        function CUData() {
            debugger;

            //$("#btnsubmit").prop("disabled", true);
            //var vl = $.validator.unobtrusive.parse("#formid");
           //var Isvalid= $("#formid").validate();
            var isvalid = $("#formid").valid();
            var IsCheck = true;
            if ($('#DistrictId_fk').val()=='') {
                toastr.error("Error", 'Please Select District');
                IsCheck = false;
            }
            if ($('#BlockId_fk').val() == '') {
                toastr.error("Error", 'Please Select Block');
                IsCheck = false;
            }
            if ($('#CLFId_fk').val() == '') {
                toastr.error("Error", 'Please Select CLF');
                IsCheck = false;
            }
            if ($('#Panchayatid_fk').val() == '') {
                toastr.error("Error", 'Please Select Panchayat');
                IsCheck = false;
            }
            if ($('#VillageOId_fk').val() == '') {
                toastr.error("Error", 'Please enter Village Organization');
                IsCheck = false;
            }

            //var VillageModel = {}, model = [];
            //VillageModel.Void_pk = $('#Void_pk').val();
            //VillageModel.DistrictId_fk = $('#DistrictId_fk').val();
            //VillageModel.BlockId_fk = $('#BlockId_fk').val();
            //VillageModel.Panchayatid_fk = $('#Panchayatid_fk').val();
            //VillageModel.Village_Organization = $('#Village_Organization').val();
            //model.push(VillageModel);
            //var formData = new FormData();
            //formData.append('Beneficiary_Id_pk', $('#Beneficiary_Id_pk').val());
            //formData.append('HindiEng', $('#HindiEng').val());
            //formData.append('DistrictId_fk', $('#DistrictId_fk').val());
            //formData.append('BlockId_fk', $('#BlockId_fk').val());
            //formData.append('VillageOId_fk', $('#VillageOId_fk').val());
            //formData.append('ReportingDate', $('#ReportingDate').val());
            //formData.append('HealthCenter', $('#HealthCenter').val());
            //formData.append('Q1', $('#Q1').val());
            //formData.append('Q2', $('#Q2').val());
            //formData.append('Q3', $('#Q3').val());
            //formData.append('BFYDOB', $('#BFYDOB').val());
            //formData.append('Q5', $('#Q5').val());
            //formData.append('Q6', $('#Q6').val());
            //formData.append('Q7', $('#Q7').val());
            //formData.append('Q8', $('#Q8').val());
            //formData.append('Q9', $('#Q9').val());
            //formData.append('Q10', $('#Q10').val());
            //formData.append('Q11', $('#Q11').val());
            //formData.append('Q12_1', $('#Q12_1').val());
            //formData.append('Q12_2', $('#Q12_2').val());
            //formData.append('Q13', $('#Q13').val());
            //formData.append('Q14', $('#Q14').val());
            //formData.append('Q15', $('#Q15').val());
            //formData.append('Q16', $('#Q16').val());
            //formData.append('Q17', $('#Q17').val());
            //formData.append('Q18', $('#Q18').val());

           // formData.append('BM', JSON.stringify(BM_model));

            if (isvalid && IsCheck) {
                document.getElementById("btnsubmit").disabled = true;
            var BeneficiaryModel = {};var model = [];
            BeneficiaryModel.Beneficiary_Id_pk = $('#Beneficiary_Id_pk').val();
            BeneficiaryModel.HindiEng = $('#HindiEng').val();
            BeneficiaryModel.DistrictId_fk = $('#DistrictId_fk').val();
            BeneficiaryModel.BlockId_fk = $('#BlockId_fk').val();
            BeneficiaryModel.CLFId_fk = $('#CLFId_fk').val();
            BeneficiaryModel.PanchayatId_fk = $('#PanchayatId_fk').val();
            BeneficiaryModel.VillageOId_fk = $('#VillageOId_fk').val();
            BeneficiaryModel.ReportingMonth = $('#ReportingMonth').val();
            BeneficiaryModel.ReportingYear = $('#ReportingYear').val();
            BeneficiaryModel.HealthCenter = $('#HealthCenter').val();
            BeneficiaryModel.Q1= $('#Q1').val();
            BeneficiaryModel.Q2= $('#Q2').val();
                BeneficiaryModel.Q3 = $('#Q3').val();
                if ($('input[name=IsDOB]:checked').val() == "1") {
                    $('#BFYDOBYear').val('');
                    if ($('#BFYDOB').val()) {
                        BeneficiaryModel.BFYDOB = toDate($('#BFYDOB').val());
                    }
                }
                if ($('input[name=IsDOB]:checked').val() == "2") {
                    $('#BFYDOB').val('');
                    if ($('#BFYDOBYear').val()) {
                        BeneficiaryModel.BFYDOBYear = $('#BFYDOBYear').val();
                    }
                }
                BeneficiaryModel.IsPregnant = $('input[name=IsPregnant]:checked').val();

            BeneficiaryModel.Q5 = $('#Q5').val();
            BeneficiaryModel.Q6DOMYear = $('input[name=Q6DOMYear]:checked').val();
            if ($('#Q6').val()) {
                BeneficiaryModel.Q6 = toDate($('#Q6').val());
            }
            BeneficiaryModel.Q6_Year = $('#Q6_Year').val();
            BeneficiaryModel.Q7= $('#Q7').val();
            BeneficiaryModel.Q8= $('input[name=Q8]:checked').val();
            BeneficiaryModel.Q9= $('#Q9').val();
            BeneficiaryModel.Q10= $('#Q10').val();
            BeneficiaryModel.Q11 = $('#Q11').val();
            if ($('#YoungestDOB').val()) {
                BeneficiaryModel.YoungestDOB = toDate($('#YoungestDOB').val());
            }
            BeneficiaryModel.Q12_1 = $('input[name=Q12_1]:checked').val();
            BeneficiaryModel.Q13 = $('#Q13').val();
            BeneficiaryModel.BFYVillageName = $('#BFYVillageName').val();
            BeneficiaryModel.Q14= $('#Q14').val();
            BeneficiaryModel.Q15= $('#Q15').val();
            BeneficiaryModel.Q16= $('#Q16').val();
            BeneficiaryModel.Q17= $('#Q17').val();
            BeneficiaryModel.Q18= $('#Q18').val();
            BeneficiaryModel.Q20 = $('#Q20').val();
            BeneficiaryModel.Q21 = $('#Q21').val();

            model.push(BeneficiaryModel);

                $.ajax({
                    url: document.baseURI + "/Beneficiary/PostBeneficiary",
                    type: "Post",
                    //data: formData,
                    //cache: false,
                    //contentType: false,
                    //processData: false,
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(model),
                    global: false,
                     async: false,
                     dataType: "json",
                    success: function (resp) {
                        if (resp.StatusType == "success") {
                            toastr.success("Success", resp.Message);
                            //$("#formid")[0].reset();
                           // InputClear();
                            //$("#btnsubmit").attr("disabled", false);
                            location.href = '/Beneficiary/Beneficiary';
                        }
                        else {
                            toastr.error("Error", resp.Message);
                            document.getElementById("btnsubmit").disabled = false;
                        }
                    },
                    error: function (req, error) {
                        if (error === 'error') { error = req.statusText; }
                        var errormsg = 'There was a communication error: ' + error;
                        toastr.error("Error", errormsg);
                        document.getElementById("btnsubmit").disabled = false;
                        //jQuery.event.trigger("ajaxStop");
                        return false;
                    }
                });
            }
            else {
                return false;
            }

        }

        function BindEdit() {
            debugger
             $('#Beneficiary_Id_pk').val('@Model.Beneficiary_Id_pk');
             $('#HindiEng').val('@Model.HindiEng');
             $('#DistrictId_fk').val('@Model.DistrictId_fk');
             GetBlock("BlockId_fk", 0, $('#DistrictId_fk').val());
             $('#BlockId_fk').val('@Model.BlockId_fk');
             GetCLF("CLFId_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val());
             $('#CLFId_fk').val('@Model.CLFId_fk');
            GetPanchayat("PanchayatId_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val(), $('#CLFId_fk').val());
             $('#PanchayatId_fk').val('@Model.PanchayatId_fk');
            GetVillage("VillageOId_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val(), $('#CLFId_fk').val(), $('#PanchayatId_fk').val());
             $('#VillageOId_fk').val('@Model.VillageOId_fk');
           $('#ReportingMonth').val('@Model.ReportingMonth');
           $('#ReportingYear').val('@Model.ReportingYear');
             $('#HealthCenter').val('@Model.HealthCenter');
             $('#Q1').val('@Model.Q1');
             $('#Q2').val('@Model.Q2');
             $('#Q3').val('@Model.Q3');
            $('#div-BFYDOBYear').css('dispaly', 'block');
            if ($('input[name=IsDOB]:checked').val() == "1") {
                $('#BFYDOBYear').val('');
                $('.cl-BFYDOBYear').css('dispaly', 'none');
                $('.cl-BFYDOB').css('dispaly', 'block');
                if ($('#BFYDOB').val()) {
                    $('#BFYDOB').val(moment('@Model.BFYDOB').format("DD/MM/YYYY"));
                }
            }
            if ($('input[name=IsDOB]:checked').val() == "2") {
                $('#BFYDOB').val('');
                $('.cl-BFYDOB').css('dispaly', 'none'); $('.cl-BFYDOBYear').css('dispaly', 'block');
                if ($('#BFYDOBYear').val()) {
                    $('#BFYDOBYear').val('@Model.BFYDOBYear');
                }
            }
            $('input[name=IsPregnant]:checked').val('@Model.IsPregnant');
            //var DOB = getAge($('#BFYDOB').val());
            //$('#bfyage').html(DOB);
             $('#Q5').val('@Model.Q5');

            $('#Q6-div').css('display', 'block'); $('.cl-Q6').css('display', 'none'); $('.cl-Q6_Year').css('display', 'none');
            //$('#Q6').removeAttr('required'); $('#Q6_Year').removeAttr('required');
            $('input[name=Q6DOMYear]:checked').val('@Model.Q6DOMYear');
            if ($('input[name=Q6DOMYear]:checked').val() == "1") {
                $('.cl-Q6').css('display', 'block'); $('#Q6').attr('required', 'required');
                $('#Q6').val(moment('@Model.Q6').format("DD/MM/YYYY"));
            }
            else if ($('input[name=Q6DOMYear]:checked').val() == "2") {
                $('.cl-Q6_Year').css('display', 'block'); $('#Q6_Year').attr('required', 'required');
                $('#Q6_Year').val('@Model.Q6_Year');
            }

             $('#Q7').val('@Model.Q7');
             $("#Q8" + '@Model.Q8').attr('checked', true);
             //$('input[name=Q8]:checked').val('@Model.Q8')
            // $('#Q8').val('@Model.Q8');
             if ($('input[name=Q8]:checked').val() == "2") {
                 $('#div-q9').show();
                 $('#Q9').val('@Model.Q9');
                 $('#Q9').attr('required', 'required');
             }
             else {
                 $('#div-q9').hide(); $('#Q9').val('');
                 $('#Q9').removeAttr('required');
             }
             $('#Q10').val('@Model.Q10');
            $('#Q11').val('@Model.Q11');

            $('input[name=Q12_1]:checked').val('@Model.Q12_1');
            if ($('input[name=Q12_1]:checked').val() == "Boy" || $('input[name=Q12_1]:checked').val() == "Girl") {
                $('#YoungestDOB').val(moment('@Model.YoungestDOB').format("DD/MM/YYYY"));
                //var DOB = getAge($('#YoungestDOB').val());
                //$('#youngestyage').html(DOB);
                $('#YoungestDOB-div').css('display', 'block');
                $('#YoungestDOB').attr('required', 'required');
            }
            else {
                $('#YoungestDOB-div').css('display', 'none');
                $('#YoungestDOB').val(''); $('#YoungestDOB').removeAttr('required');
            }

             $('#Q13').val('@Model.Q13');
             $('#BFYVillageName').val('@Model.BFYVillageName');
             $('#Q14').val('@Model.Q14');
             $('#Q15').val('@Model.Q15');

            $('#Q18').val('');
            $('#Q16').removeAttr('required');
            $('#Q17').removeAttr('required');
            $('#Q18').removeAttr('required');
             GetContraceptiveChildList("Q16", 0, "");
             GetContraceptiveChildList("Q17", 0, "");
             if ($('#Q15').val() == "1") {
                 GetContraceptiveChildList("Q16", 0, 1);
                 $('#div-Q18').css('display', 'none');
                 $('#div-Q17').css('display', 'none');
                 $('#div-Q16').css('display', 'block');
                 $('#Q16').val('@Model.Q16');
                 $('#Q16').attr('required', 'required');
             }
             else if ($('#Q15').val() == "2") {
                 GetContraceptiveChildList("Q17", 0, 2);
                 $('#div-Q18').css('display', 'none');
                 $('#div-Q17').css('display', 'block');
                 $('#div-Q16').css('display', 'none');
                 $('#Q17').val('@Model.Q17');
                 $('#Q17').attr('required', 'required');
             }
             else if ($('#Q15').val() == "4") {
                 $('#div-Q18').css('display', 'block');
                 $('#div-Q17').css('display', 'none');
                 $('#div-Q16').css('display', 'none');
                 $('#Q18').val('@Model.Q18');
                 $('#Q18').attr('required', 'required');
             }
             else {
                 $('#div-Q18').css('display', 'none');
                 $('#div-Q17').css('display', 'none');
                 $('#div-Q16').css('display', 'none');
           }
            $('#Q20').val('@Model.Q20');
            $('#Q21').val('@Model.Q21');
    }
        function InputClear() {
        $('#Beneficiary_Id_pk').val('@Guid.Empty');
        $('#HindiEng').val('1');
        $('#DistrictId_fk').val('');
        $('#BlockId_fk').val('');
        $('#PanchayatId_fk').val('');
        $('#VillageOId_fk').val('');
        GetDistrict("DistrictId_fk", 0);
        GetContraceptive("Q15", 0);
        GetBlock("BlockId_fk", 0, $('#DistrictId_fk').val())
        GetPanchayat("PanchayatId_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val());
        GetVillage("VillageOId_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val(), $('#PanchayatId_fk').val());

        $('#ReportingMonth').val('');
        $('#ReportingYear').val('');
        $('#HealthCenter').val('');
        $('#BFYVillageName').val('');
        $('#Q1').val('');
        $('#Q2').val('');
        $('#Q3').val('');
        $('#BFYDOB').val('');
        $('#Q5').val('');
        $('#Q6').val('');
        $('#Q7').val('');
        $('#Q8').val('');
        $('#Q9').val('');
        $('#Q10').val('');
        $('#Q11').val('');
        $('#YoungestDOB').val('');
        $('#Q13').val('');
        $('#Q14').val('');
        $('#Q15').val('');
        $('#Q16').val('');
        $('#Q17').val('');
        $('#Q18').val('');
        $('#Q19').val('');
        $('#Q20').val('');
        $('#Q21').val('');

        $('input[name=Q8]').removeAttr('checked');
        $('#div-q9').hide();
        $('#Q9').removeAttr('required');


        $('#Q18').val('');
        GetContraceptiveChildList("Q16", 0, "");
        GetContraceptiveChildList("Q17", 0, "");
        $('#Q16').removeAttr('required');
        $('#Q17').removeAttr('required');
        $('#Q18').removeAttr('required');
        if ($('#Q15').val() == "1") {
            GetContraceptiveChildList("Q16", 0, 1);
            $('#div-Q18').css('display', 'none');
            $('#div-Q17').css('display', 'none');
            $('#div-Q16').css('display', 'block');
            $('#Q16').attr('required', 'required');
        }
        else if ($('#Q15').val() == "2") {
            GetContraceptiveChildList("Q17", 0, 2);
            $('#div-Q18').css('display', 'none');
            $('#div-Q17').css('display', 'block');
            $('#div-Q16').css('display', 'none');
            $('#Q17').attr('required', 'required');
        }
        else if ($('#Q15').val() == "4") {
            $('#div-Q18').css('display', 'block');
            $('#div-Q17').css('display', 'none');
            $('#div-Q16').css('display', 'none');
            $('#Q18').attr('required', 'required');
        }
        else {
            $('#div-Q18').css('display', 'none');
            $('#div-Q17').css('display', 'none');
            $('#div-Q16').css('display', 'none');
        }

        /* Role Wise */
        BindRolewise("DistrictId_fk", "BlockId_fk", "PanchayatId_fk", "VillageOId_fk");

    }

</script>
}