@using System.Data
@using FP.Manager;
@{
    DataTable dt = new DataTable();
    dt = Model;
}

<div class="table-responsive">
    <table class="table table-bordered table-striped" id="tbl">
        <thead>
            <tr>
                <th>Srno.</th>
                <th>@CommonModel.DispLevel.District</th>
                <th>@CommonModel.DispLevel.Block</th>
                <th>@CommonModel.DispLevel.Cluster</th>
                <th style="width: 80px">Edit</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (dt.Rows.Count > 0)
                {

                    int srno = 1;
                    foreach (DataRow dr in dt.Rows)
                    {
                        <tr>
                            <td>@(srno++)</td>
                            <td>@dr["DistrictName"]</td>
                            <td>@dr["Block"]</td>
                            <td>@dr["CLFName"]</td>
                            <td>
                                <a href="~/Master/CLFMaster?id=@dr["CLF_ID_pk"]" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center"><strong class="text-danger">Record Not Found !!</strong></td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
