@model FP.Models.CLFModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table th {
        font-size: 14px;
    }

    .table td {
        font-size: 13px;
    }

    .actives6 {
        color: #009A3F !important;
        background: #FFFFFF;
        border-color: #009CFF;
    }

    @@media all and (max-width: 900px) {
        .flexer {
            flex-direction: column;
        }
    }
</style>
<div class="breadcrumb">
    <h2>Add Cluster</h2>
    <p><a href="~/Master/CLFMaster"><i class="fa fa-home"></i></a> / Cluster </p>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        @using (Html.BeginForm("CLFMaster", "Master", FormMethod.Post, new { @class = "", @id = "formid" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.CLF_ID_pk)
            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
            <div class="col-sm-12">
                <div class="row mb-3">
                    <div class="col-sm-5">
                        <div class="bg-light rounded h-100 p-4">
                            <div class="mb-3">
                                @Html.LabelFor(m => m.DistrictId_fk, new { @class = "Col-md-2 col-form-label" })
                                @Html.DropDownListFor(m => m.DistrictId_fk, new List<SelectListItem>(), null, new { @class = "form-select mb-3" })
                                @Html.ValidationMessageFor(m => m.DistrictId_fk, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(m => m.BlockId_fk, new { @class = "Col-md-2 col-form-label" })
                                @Html.DropDownListFor(m => m.BlockId_fk, new List<SelectListItem>(), null, new { @class = "form-select mb-3" })
                                @Html.ValidationMessageFor(m => m.BlockId_fk, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(m => m.CLFName, new { @class = "Col-md-2 col-form-label" })
                                @Html.EditorFor(m => m.CLFName, null, new { htmlAttributes = new { @class = "form-control col-md-4" } })
                                @Html.ValidationMessageFor(m => m.CLFName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary" name="btnsubmit" id="btnsubmit" value="Submit" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-7">
                        <div id="subdata" style="height:500px; overflow:scroll;"></div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JS/Master.js"></script>

    <script>
        $(document).ready(function () {

            GetDistrict("DistrictId_fk", 0);
        $('#DistrictId_fk').change(function () {
            GetBlock("BlockId_fk", 0, $(this).val());
        });
        //$('#BlockId_fk').change(function () {
        //    GetPanchayat("Panchayatid_fk", 0, $('#DistrictId_fk').val(), $(this).val());
        //    });
            if ('@Model.CLF_ID_pk' != '0') {
                $('#CLF_ID_pk').val('@Model.CLF_ID_pk');
                $('#DistrictId_fk').val('@Model.DistrictId_fk');
                GetBlock("BlockId_fk", 0, $('#DistrictId_fk').val());
                $('#BlockId_fk').val('@Model.BlockId_fk');
                $('#CLFName').val('@Model.CLFName');
            }

            $("#btnsubmit").click(function (e) {
                e.preventDefault();
                CUOPT();
            });
            BindData();

        });

        function BindData() {
            $.ajax({
                type: "GET",
                url: document.baseURI + "/Master/GetCLFMasterllist",
                data: JSON.stringify({ 'DistrictId': $('#DistrictId_fk').val(), 'BlockId': $('#BlockId_fk').val() }),
                cache: false,
                success: function (res) {
                    if (res.IsSuccess) {
                        $("#subdata").html(res.Data);
                    }
                    $("#subdata").html(res.Data);
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //Do To Message display
                }
            });
        }

        function CUOPT() {
            debugger;
            var isvalid = $("#formid").valid();
            var IsCheck = true;
            if ($('#DistrictId_fk').val()=='') {
                toastr.error("Error", 'Please Select District');
                IsCheck = false;
            }
            if ($('#BlockId_fk').val() == '') {
                toastr.error("Error", 'Please Select Block');
                IsCheck = false;
            }

            var formData = new FormData();
            formData.append('CLF_ID_pk', $('#CLF_ID_pk').val());
            formData.append('DistrictId_fk', $('#DistrictId_fk').val());
            formData.append('BlockId_fk', $('#BlockId_fk').val());
            formData.append('CLFName', $('#CLFName').val());

            //formData.append('v_model', JSON.stringify(MS_model));

            if (isvalid && IsCheck) {
                $.ajax({
                    url: document.baseURI + "/Master/CLFMaster",
                    type: "Post",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    //contentType: "application/json; charset=utf-8",
                    // data: JSON.stringify(model),
                    //global: false,
                    // async: false,
                    // dataType: "json",
                    success: function (resp) {
                        if (resp.StatusType == "success") {
                            toastr.success("Success", resp.Message);
                            BindData();
                            $('#CLFName').val('');
                            //jQuery.event.trigger("ajaxStop");
                        }
                        else {
                            toastr.error("Error", resp.Message);
                        }
                    },
                    error: function (req, error) {
                        if (error === 'error') { error = req.statusText; }
                        var errormsg = 'There was a communication error: ' + error;
                        toastr.error("Error", errormsg);
                        //jQuery.event.trigger("ajaxStop");
                        return false;
                    }
                });
            }
            else {
                return false;
            }

        }

    </script>
}