@model FP.Models.VillageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table th {
        font-size: 14px;
    }

    .table td {
        font-size: 13px;
    }
</style>
<div class="breadcrumb">
    <h2>Village Organization</h2>
    <p><a href="~/Master/VillMaster"><i class="fa fa-home"></i></a> / Village Organization</p>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4ss">
        @using (Html.BeginForm("Vill_Master", "Master", FormMethod.Post, new { @class = "", @id = "formid" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Void_pk)
            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
            <div class="flexer">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <div class="mb-3">
                            @Html.LabelFor(m => m.DistrictId_fk, new { @class = "Col-md-2 col-form-label" })
                            @Html.DropDownListFor(m => m.DistrictId_fk, new List<SelectListItem>(), null, new { @class = "form-select mb-3" })
                            @Html.ValidationMessageFor(m => m.DistrictId_fk, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.BlockId_fk, new { @class = "Col-md-2 col-form-label" })
                            @Html.DropDownListFor(m => m.BlockId_fk, new List<SelectListItem>(), null, new { @class = "form-select mb-3" })
                            @Html.ValidationMessageFor(m => m.BlockId_fk, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(m => m.Panchayatid_fk, new { @class = "Col-md-2 col-form-label" })
                            @Html.DropDownListFor(m => m.Panchayatid_fk, new List<SelectListItem>(), null, new { @class = "form-select mb-3" })
                            @Html.ValidationMessageFor(m => m.Panchayatid_fk, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="col-md-6">
                                @Html.LabelFor(m => m.Void_pk, new { @class = "Col-md-2 col-form-label" })
                                @Html.DropDownListFor(m => m.Void_pk, new List<SelectListItem>(), null, new { @class = "form-control col-md-4" })
                            </div>*@
                        <div class="mb-3">
                            @Html.LabelFor(m => m.Village_Organization, new { @class = "Col-md-2 col-form-label" })
                            @Html.EditorFor(m => m.Village_Organization, null, new { htmlAttributes = new { @class = "form-control col-md-4" } })
                            @Html.ValidationMessageFor(m => m.Village_Organization, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-primary" name="btnsubmit" id="btnsubmit" value="Submit" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-xl-6">
                    <div id="subdata" style="height:500px; overflow:scroll;"></div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JS/Master.js"></script>

    <script>
        $(document).ready(function () {

            GetDistrict("DistrictId_fk", 0);
        $('#DistrictId_fk').change(function () {
            GetBlock("BlockId_fk", 0, $(this).val());
        });
        $('#BlockId_fk').change(function () {
            GetPanchayat("Panchayatid_fk", 0, $('#DistrictId_fk').val(), $(this).val());
            });
            if ('@Model.Void_pk' != '0') {
                $('#Void_pk').val('@Model.Void_pk');
                $('#DistrictId_fk').val('@Model.DistrictId_fk');
                GetBlock("BlockId_fk", 0, $('#DistrictId_fk').val());
                $('#BlockId_fk').val('@Model.BlockId_fk');
                GetPanchayat("Panchayatid_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val());
                $('#Panchayatid_fk').val('@Model.Panchayatid_fk');
                $('#Village_Organization').val('@Model.Village_Organization');
            }

            $("#btnsubmit").click(function (e) {
                e.preventDefault();
                CUVill();
            });
            BindData();

        });

        function BindData() {
            $.ajax({
                type: "GET",
                url: document.baseURI + "/Master/GetVillagedetaillist",
                data: JSON.stringify({ 'DistrictId': $('#DistrictId_fk').val(), 'BlockId': $('#BlockId_fk').val(), 'PanchayatId': $('#Panchayatid_fk').val() }),
                cache: false,
                success: function (res) {
                    if (res.IsSuccess) {
                        $("#subdata").html(res.Data);
                    }
                    $("#subdata").html(res.Data);
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //Do To Message display
                }
            });
        }

        function CUVill() {
            debugger;
            var isvalid = $("#formid").valid();
            var IsCheck = true;
            if ($('#DistrictId_fk').val()=='') {
                toastr.error("Error", 'Please Select District');
                IsCheck = false;
            }
            if ($('#BlockId_fk').val() == '') {
                toastr.error("Error", 'Please Select Block');
                IsCheck = false;
            }
            if ($('#Panchayatid_fk').val() == '') {
                toastr.error("Error", 'Please Select Panchayat');
                IsCheck = false;
            }
            if ($('#Village_Organization').val() == '') {
                toastr.error("Error", 'Please enter Village Name');
                IsCheck = false;
            }



            //var VillageModel = [], model = [];
            //VillageModel.Void_pk = $('#Void_pk').val();
            //VillageModel.DistrictId_fk = $('#DistrictId_fk').val();
            //VillageModel.BlockId_fk = $('#BlockId_fk').val();
            //VillageModel.Panchayatid_fk = $('#Panchayatid_fk').val();
            //VillageModel.Village_Organization = $('#Village_Organization').val();
            //model.push(VillageModel);
            var formData = new FormData();
            formData.append('Void_pk', $('#Void_pk').val());
            formData.append('DistrictId_fk', $('#DistrictId_fk').val());
            formData.append('BlockId_fk', $('#BlockId_fk').val());
            formData.append('Panchayatid_fk', $('#Panchayatid_fk').val());
            formData.append('Village_Organization', $('#Village_Organization').val());

            //formData.append('v_model', JSON.stringify(MS_model));

            if (isvalid && IsCheck) {
                $.ajax({
                    url: document.baseURI + "/Master/VillMaster",
                    type: "Post",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    //contentType: "application/json; charset=utf-8",
                    // data: JSON.stringify(model),
                    //global: false,
                    // async: false,
                    // dataType: "json",
                    success: function (resp) {
                        if (resp.StatusType == "success") {
                            toastr.success("Success", resp.Message);
                            BindData();
                            $('#Village_Organization').val('');
                            //jQuery.event.trigger("ajaxStop");
                        }
                        else {
                            toastr.error("Error", resp.Message);
                        }
                    },
                    error: function (req, error) {
                        if (error === 'error') { error = req.statusText; }
                        var errormsg = 'There was a communication error: ' + error;
                        toastr.error("Error", errormsg);
                        //jQuery.event.trigger("ajaxStop");
                        return false;
                    }
                });
            }
            else {
                return false;
            }

        }

    </script>
}