@using FP.Models;
@using System.Data
@using FP.Manager
@{
    FP_DBEntities db = new FP_DBEntities();
    DataTable dt = new DataTable();
    dt = Model;
}
<style>
    table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting_asc_disabled, table.dataTable thead > tr > th.sorting_desc_disabled, table.dataTable thead > tr > td.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting_asc_disabled, table.dataTable thead > tr > td.sorting_desc_disabled {
        padding-right: 0px !important;
    }
</style>
<div class="bg-light rounded h-100 p-4">
    <div class="table-responsive">
        <table class="table table-bordered table-striped" id="tblPlan">
            <thead class="text-center">
                <tr>
                    <th>Srno.</th>
                    <th style=" overflow-wrap: break-word !important;" width="5%">@CommonModel.DisAchvlbl.AchvPlanDate</th>
                    <th>@CommonModel.DispLevel.District</th>
                    <th>@CommonModel.DispLevel.Block</th>
                    <th>@CommonModel.DispLevel.Cluster</th>
                    <th>@CommonModel.DispLevel.Panchayat</th>
                    <th>@CommonModel.DispLevel.VO</th>
                    <th>@CommonModel.DispLevel.Activities</th>
                    <th>@CommonModel.DisAchvlbl.MeetingDate</th>
                    <th>@CommonModel.DisAchvlbl.NoofParticipant</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (dt.Rows.Count > 0)
                    {
                        int srno = 1;
                        foreach (DataRow dr in dt.Rows)
                        {
                            <tr>
                                <td class="text-center">@(srno++)</td>
                                <td class="text-center bg-warning"><strong class="text-white">@dr["PlanReportingDate"]</strong></td>
                                <td class="text-left">@dr["DistrictName"]</td>
                                <td class="text-left">@dr["Block"]</td>
                                <td class="text-left">@dr["CLFName"]</td>
                                <td class="text-left">@dr["Panchayat"]</td>
                                <td class="text-left">@dr["VO"]</td>
                                <td class="text-left">@dr["ActivityName"]</td>
                                <td class="text-left">@CommonModel.FormateDtDMY(dr["Meetingheld"].ToString())</td>
                                <td class="text-center bg-info"><strong class="text-white">@dr["Noofparticipant"]</strong></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="9" class="text-center"><strong class="text-danger">Record Not Found !!</strong></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>