@using System.Data
@using FP.Manager
@{
    DataSet ds = new DataSet();
    DataTable dtg = new DataTable();
    DataTable dtm = new DataTable();
    if (Model != null)
    {
        //ds = Model;
        dtg = Model;
    }
    DataView view = new DataView(dtg.Select("EmpName<>'_All' And Emp_ID<>'__All'").CopyToDataTable());
    DataTable dtsn = view.ToTable(true, "EmpName");
    DataTable dtts = view.ToTable(true, "Emp_ID");
}
<style>
    .trdisableAprroved {
        color: #fff;
        pointer-events: none !important;
        background-color: #90c767 !important
    }

    .trdisableReject {
        color: #fff;
        /*pointer-events: none !important;*/
        background-color: #c86c6c !important
    }

    .trcolor {
        color: #000;
    }
</style>
<div class="row row-deck">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="table-responsive">

                <table class="table table-bordered table-hover dt-responsive display" id="DataList" width="100%">
                    <thead>
                        <tr>
                            <th>@CommonModel.DisAchvlbl.Name</th>
                            <th>@CommonModel.DisAchvlbl.TotalNoofParticipant</th>
                            <th></th>
                            @*<th>@CommonModel.DispLevel.District</th>
                                <th>@CommonModel.DispLevel.Block</th>
                                <th>@CommonModel.DispLevel.Cluster</th>*@
                            <th>@CommonModel.DispLevel.Panchayat</th>
                            <th>@CommonModel.DispLevel.VO</th>
                            <th>@CommonModel.DisAchvlbl.MeetingDate</th>
                            <th>@CommonModel.DisAchvlbl.NoofParticipant</th>
                            <th>@CommonModel.DisAchvlbl.AchvPlanDate</th>
                            <th>@CommonModel.DisAchvlbl.AchvPlanMRPRemark</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sno = 1; int indx = 1;
                            if (Model != null)
                            {
                                foreach (DataRow dr in dtg.Rows)
                                {
                                    string EmpName = Convert.ToString(dr["EmpName"]);
                                    string Emp_ID = Convert.ToString(dr["Emp_ID"]);

                                    if (Emp_ID.ToLower() == "__all" && EmpName.ToLower() != "_all")
                                    {
                                        <tr style="color:#1b6907;">
                                            <td data-title="EmpName" class="@("empname-" + EmpName.Replace(" ", "_").ToLower())">@EmpName</td>
                                            <td data-title="NoOfMeetingHeld">@dr["NoOfMeetingHeld"]</td>
                                            @*<td></td>
                                                <td></td>
                                                <td></td>*@
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td width="50%"></td>
                                        </tr>
                                    }
                                    if (Emp_ID.ToLower() != "__all")
                                    {
                                        if (!string.IsNullOrWhiteSpace(dr["PlanMonthYear"].ToString()))
                                        {
                                            var mysplit = dr["PlanMonthYear"].ToString().Split('/');
                                            dtm = FP.Manager.SP_Model.SP_GetAchvPlanApproveChild("", dr["Emp_ID"].ToString(),
                                               Convert.ToInt32(dr["PlanMonth"].ToString()), Convert.ToInt32(dr["PlanYear"].ToString()));
                                            if (dtm.Rows.Count > 0)
                                            {
                                                var dtsdetails = dtm.AsEnumerable().CopyToDataTable();
                                                {
                                                    if (dtsdetails != null)
                                                    {
                                                        foreach (DataRow dr1 in dtsdetails.Rows)
                                                        {
                                                            var appr = Convert.ToInt16(Enums.eTypeApprove.Approve).ToString();
                                                            var Reject = Convert.ToInt16(Enums.eTypeApprove.Reject).ToString();
                                                            //var Level2nd = dr1["IsLevel2Approve"].ToString() == appr ? "trdisableAprroved" :"";
                                                            var distbl = dr1["IsLevel1Approve"].ToString() == appr ? "trdisableAprroved" :
                                                                  dr1["PlanStatus"].ToString() == Reject ? "trdisableReject" : "trcolor";
                                                            var strchecked = dr1["IsLevel1Approve"].ToString() == Reject ? "" : "checked=checked";
                                                            <tr class="@("empname-" + EmpName.Replace(" ", "_").ToLower()) index-@indx @distbl">
                                                                <td></td>
                                                                <td></td>
                                                                <td>
                                                                    <input type="checkbox" data-achvplanid="@dr1["AchieveId_pk"]"
                                                                           data-uid="@dr1["UserID_fk"]" data-empid="@dr1["Emp_ID"]"
                                                                           data-disid="@dr1["DistrictId_pk"]" data-blckid="@dr1["BlockId_pk"]"
                                                                           data-clfid="@dr1["CLF_ID_pk"]" data-pchytid="@dr1["Panchayatid_pk"]" data-vorgid="@dr1["Void_pk"]"
                                                                           data-planstatus="@dr1["PlanStatus"]"
                                                                           value="@dr1["AchieveId_pk"]" @strchecked />
                                                                    @*<a href="javascript:void(0);" onclick="return BindData('1', '', '@dr1["SectionDetailEng"]');">
                                                                            <p>@dr1["SectionDetailNoEng"] . @dr1["SectionDetailEng"]</p>
                                                                        </a>*@
                                                                </td>
                                                                @*<td data-title="DistrictName">@dr1["DistrictName"]</td>
                                                                    <td data-title="Block">@dr1["Block"]</td>
                                                                    <td data-title="CLFName">@dr1["CLFName"]</td>*@
                                                                <td data-title="Panchayat">@dr1["Panchayat"]</td>
                                                                <td data-title="VO">@dr1["VO"]</td>
                                                                <td data-title="Meetingheld">@(CommonModel.FormateDtDMY(dr1["Meetingheld"].ToString()))</td>
                                                                <td data-title="Noofparticipant">@dr1["Noofparticipant"]</td>
                                                                <td data-title="PlanMonthYear">@dr1["PlanMonthYear"]</td>
                                                                <td data-title="Remark" width="300px">
                                                                    <textarea id="remark-@indx" value="" name="Remark-@indx" class="form-control" rows="5" cols="12">@dr1["Remark1"].ToString()</textarea>
                                                                    @dr1["Level1RejectDt"].ToString()
                                                                    @if (dr1["PlanStatus"].ToString() != appr && "trdisableAprroved" != distbl)
                                                                    {
                                                                        <a href="JavaScript:void(0);" class="btn btn-danger" id="hrfrejectid" onclick="CUData('@dr1["AchieveId_pk"]','@indx')"><i class="fa fa-reject"></i>Reject</a>
                                                                    }
                                                                </td>
                                                            </tr>
                                                            indx++;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    else
                                    {
                                        @*<tr style="font-size:14px;">
                                                <td data-title=""><strong></strong></td>
                                                <td data-title=""><strong></strong></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>*@
                                    }

                                }
                            }
                        }

                    </tbody>

                </table>
                @{
                    foreach (DataRow dr in dtsn.Rows)
                    {
                        string group = "empname-" + Convert.ToString(dr["EmpName"]).ToLower();
                        <script>
                                CreateGroup('@group');
                        </script>
                    }
                }
            </div>
        </div>
    </div>
</div>

