@model FP.Models.AchvPlanModel
@using FP.Manager
@{
}
<style>
    .table th {
        font-size: 14px;
        background: #fff;
    }

    .table td {
        font-size: 13px;
    }

    .dataTables_filter, .dataTables_length {
        margin-bottom: 15px;
    }

    .actives2 {
        color: #009A3F !important;
        background: #FFFFFF;
        border-color: #009CFF;
    }
</style>
<div class="breadcrumb">
    <h2>Meeting Achievements - @CommonModel.RoleNameCont.CNRP</h2>
</div>
<div class="container-fluid pt-4 px-4">
    @using (Html.BeginForm("AddAchievePlan", "Achievement", FormMethod.Get, new { @class = "", @id = "formid", role = "form", autocomplete = "off", enctype = "multipart/form-data", noValidate = "novalidate" }))
    {
        <div class="row g-4">
            <div class="col-sm-12">
                <div class="bg-light rounded h-100 p-4">
                    <div class="row mb-3">
                        <div class="col-sm-2">
                            <div class="position-relative form-group">
                                @Html.Label(CommonModel.DispLevel.District, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.DistrictId_fk, new List<SelectListItem>(), null, new { @class = "form-select " })
                                @Html.ValidationMessageFor(model => model.DistrictId_fk, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="position-relative form-group">
                                @*@Html.LabelFor(model => model.BlockId_fk, htmlAttributes: new { @class = "control-label" })*@
                                @Html.Label(CommonModel.DispLevel.Block, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.BlockId_fk, new List<SelectListItem>(), null, new { @class = "form-select " })
                                @Html.ValidationMessageFor(model => model.BlockId_fk, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="position-relative form-group">
                                @Html.Label(CommonModel.DispLevel.Cluster, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.ClusterId_fk, new List<SelectListItem>(), null, new { @class = "form-select " })
                                @Html.ValidationMessageFor(model => model.ClusterId_fk, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="col-sm-2">
                            <div class="position-relative form-group">
                                @Html.Label(CommonModel.DispLevel.Panchayat, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.PanchayatId_fk, new List<SelectListItem>(), null, new { @class = "form-select " })
                                @Html.ValidationMessageFor(model => model.PanchayatId_fk, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="position-relative form-group">
                                @Html.Label(CommonModel.DispLevel.Year, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.PlanYear, new List<SelectListItem>(), null, new { @class = "form-select " })
                                @Html.ValidationMessageFor(model => model.PlanYear, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="position-relative form-group">
                                @Html.Label(CommonModel.DispLevel.Month, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.PlanMonth, new List<SelectListItem>(), null, new { @class = "form-select " })
                                @Html.ValidationMessageFor(model => model.PlanMonth, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-03"></div>
                                <div class="col-md-7"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12"><strong id="msg" class="text-danger"></strong></div>
                                @{
                                    int index = 1; var achvplanid = Guid.Empty;
                                    <div class="col-md-12">
                                        <table class="table rowfy" id="tbl">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>@CommonModel.DisAchvlbl.Activities</th>
                                                    <th>@CommonModel.DispLevel.VOFull</th>
                                                    <th>@CommonModel.DisAchvlbl.MeetingDate</th>
                                                    <th>@CommonModel.DisAchvlbl.NoofParticipant</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*<tr>
                                                        <td class="index"></td>
                                                        <td>
                                                            <select name="Void_fk" class="Void_fk form-select" required></select>
                                                        </td>
                                                        <td>
                                                            <input type="text" name="MDt" value="" class="form-control col-md-4 mdt" minlength="10" maxlength="15" required />
                                                        </td>
                                                        <td>
                                                            <input type="text" name="NoofPart" value="" class="form-control col-md-4 numbersOnly noofpart" minlength="1" maxlength="3" required />
                                                        </td>
                                                        <td class="action"></td>
                                                    </tr>*@
                                            </tbody>
                                            <tfoot style="display:none;">
                                                <tr>
                                                    <td class="index"></td>
                                                    <td>
                                                        <select name="ActivityId_fk" id="ActivityId_fk" class="ActivityId_fk form-select" required>
                                                            @*<option value="0" selected="selected">Select</option>
                                                                <option value="1">Peer group meeting</option>
                                                                <option value="2">Home Visit</option>
                                                                <option value="3">Linkage of beneficiary with health service provider</option>
                                                                <option value="4">Participated in FP campaign</option>*@
                                                        </select>

                                                    </td>
                                                    <td>
                                                        <select name="Void_fk" id="Void_fk" class="Void_fk form-select" required></select>
                                                        <span class="Void_fk-Name" id="Void_fk-Name" data-ids=""></span>
                                                    </td>
                                                    <td>
                                                        <input type="text" name="MDt" value="" class="form-control col-md-4 mdt" minlength="10" maxlength="15" required />
                                                    </td>
                                                    <td>
                                                        <input type="text" name="NoofPart" value="" class="form-control col-md-4 numbersOnly noofpart" minlength="1" maxlength="3" required />
                                                        <a href="javascript:void(0);" class="part-detail btn btn-outline-primary">Details</a>
                                                        <span class="NoofPart-multiple-VO" id="NoofPart-multiple-VO"></span>
                                                        <input type="hidden" class="NoofPart-multiple-BfyIds" name="NoofPart-multiple-BfyIds" id="NoofPart-multiple-BfyIds" value="" />
                                                    </td>
                                                    <td class="action">
                                                        <button type="button" class="btn btn-sm rowfy-addrow btn-success" style="display:none">+</button>
                                                        <button type="button" class="btn btn-sm rowfy-deleterow btn-danger" style="display:none">-</button>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <span class="check-spacer">
                            <input type="submit" name="btnsubmit" id="btnsubmit" class="btn btn-info" value="Submit" />
                        </span>&nbsp;&nbsp;&nbsp;
                        <span class="check-spacer">
                            <a href="~/Achievement/AddAchievePlan" class="btn btn-warning" id="hrfid"><i class="fa fa-refresh"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }

    <hr />

    <div class="row">
        <div class="col=md-12" id="div-download"></div>
        <div class="col=md-6"></div>
        <div class="col=md-6"></div>
        <div class="col=md-6"></div>
        <div class="col-md-12">
            <div id="subdata"></div>
        </div>
    </div>

    <div class="modal fade show" id="modalNoOfParticipant" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-modal="true" style="display: none;">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalTitle"></h5>
                    <button type="button" class="closed" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="modal-rowIndex" id="modal-rowIndex" />
                    <div class="col-sm-12 col-xl-12">
                        <div class="col-sm-12 col-md-12">
                            <label>Village Organization</label>
                            <select name="modal-Void_fk" id="modal-Void_fk" class="modal-Void_fk form-select mb-3 js-select2" multiple="multiple"></select>
                        </div>

                        <div class="col-sm-12 col-md-12">
                            <label>No of Participant</label>
                            <input type="number" name="modal-NoofPart" id="modal-NoofPart" class="form-control col-md-4 numbersOnly modal-noofpart" readonly minlength="1" maxlength="3" />
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <label>Beneficiary List</label>
                            <input type="hidden" name="modal-NoofPart-BfyIds" id="modal-NoofPart-BfyIds" />
                            <div id="modal-div-bfy"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 col-xl-12">
                        <button type="button" class="btn btn-primary float-right" id="modalNoOfParticipantOk">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JS/Master.js"></script>

    <script src="~/Scripts/JS/rowfy.js"></script>
    @*<link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>*@

    <script>
        $(document).ready(function () {

            GetYearList("PlanYear", 0);
            GetMonthList("PlanMonth", 0);
            GetDistrict("DistrictId_fk", 0);
            GetActivityList("ActivityId_fk", 0);
            BindData();
            $('#DistrictId_fk').change(function () {
                GetBlock("BlockId_fk", 0, $(this).val());
            });
            $('#BlockId_fk').change(function () {
                GetCLF("ClusterId_fk", 0, $('#DistrictId_fk').val(), $(this).val());
            });
            $('#ClusterId_fk').change(function () {
                GetPanchayat("PanchayatId_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val(), $(this).val());
            });
            $('#PanchayatId_fk').change(function () {
                // GetVillage("VOId", 0, $('#DistrictId').val(), $('#BlockId').val(), $('#CLFId').val(), $(this).val());
                GetVOrg(".Void_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val(), $('#ClusterId_fk').val(), $(this).val());
                BindDataTable();
                BindData();
            });
            /* Role Wise */
            BindRolewise("DistrictId_fk", "BlockId_fk", "ClusterId_fk", "PanchayatId_fk");//, "VOId_fk"

            if ($('#PanchayatId_fk').val() != "") {
                GetVOrg(".Void_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val(), $('#ClusterId_fk').val(), $('#PanchayatId_fk').val());
                BindDataTable();
                BindData();
            }
            $('#PlanYear').change(function () {
                BindDataTable();
                BindData();
            });
            $('#PlanMonth').change(function () {
                BindDataTable();
                BindData();
            });

            $("#formid").submit(function (e) {
                e.preventDefault();
                CUData();
            });
            $("#hrfid").click(function (e) {
                e.preventDefault();
                BindDataTable();
                // document.getElementById("btnsubmit").disabled = false;
            });
            $("select[name=ActivityId_fk]").change(function () {
                var rowIndex = $(this).attr('id').replace('actid-','');
                var row = $("#tbl tr[data-index=" + rowIndex + "]");
                var val = $(this).val();
                showHidenParticipantDetails(val, row);
            });

            $(document).on('click', 'a.part-detail', function () {
                var row = $(this).closest('tr');
                var rowIndex = $(row).attr('data-index');
                $("#modal-rowIndex").val(rowIndex);
                $("select.Void_fk option", row).each(function () {
                    if ($(this).val() && !$('#modal-Void_fk').find("option[value='" + $(this).val() + "']").length) {
                        var data = { id: $(this).val(), text: $(this).text() };
                        var newOption = new Option(data.text, data.id, false, false);
                        // Append it to the select
                        $('#modal-Void_fk').append(newOption).trigger('change');
                    }
                });

                var activityName = $('select.ActivityId_fk', row).find(":selected").text();
                $('#modalNoOfParticipant #myModalTitle').html(activityName);
                $('#modalNoOfParticipant').modal('show');

                $('#modal-Void_fk').val($('span[id=Void_fk-Name-' + rowIndex + ']', row).attr('data-ids').split(',')).change();
                $("#modal-NoofPart").val($("span#NoofPart-multiple-VO-" + rowIndex, row).text());
                $("#modal-NoofPart-BfyIds").val($("input#NoofPart-multiple-BfyIds-" + rowIndex, row).val());

                var VoidfkIDs = $('span[id=Void_fk-Name-' + rowIndex + ']', row).attr('data-ids');
                GetVOWiseBFYList(VoidfkIDs.replace(/,*$/, ''));

            });

            $('#modal-Void_fk').on('select2:select', function (e) {
                var data = $('#modal-Void_fk').select2('data');
                var VoidfkIDs = '';
                $.each(data, function (i, item) {
                    VoidfkIDs += item.id + ',';
                });
                GetVOWiseBFYList(VoidfkIDs.replace(/,*$/, ''));
            });

            $('#modal-Void_fk').on('select2:unselect', function (e) {
                var data = $('#modal-Void_fk').select2('data');
                var VoidfkIDs = '';
                $.each(data, function (i, item) {
                    VoidfkIDs += item.id + ',';
                });
                GetVOWiseBFYList(VoidfkIDs.replace(/,*$/, ''));
            });
            $('#modal-Void_fk').on('select2:clear', function (e) {
                var data = $('#modal-Void_fk').select2('data');
                var VoidfkIDs = '';
                $.each(data, function (i, item) {
                    VoidfkIDs += item.id + ',';
                });
                GetVOWiseBFYList(VoidfkIDs.replace(/,*$/, ''));
            });
            $("#modalNoOfParticipantOk").click(function (e) {
                e.preventDefault();
                var rowIndex = $("#modal-rowIndex").val();


                var data = $('#modal-Void_fk').select2('data');
                if ($("#modal-NoofPart").val() && data.length) {
                    var VoidfkNames = '';
                    var VoidfkIDs = '';
                    $.each(data, function (i, item) {
                        VoidfkNames += item.text + ',';
                        VoidfkIDs += item.id + ',';
                    });
                    $("span#Void_fk-Name-" + rowIndex).text(VoidfkNames.replace(/,*$/, '')).attr('data-ids', VoidfkIDs.replace(/,*$/, ''));
                    $("span#NoofPart-multiple-VO-" + rowIndex).text($("#modal-NoofPart").val());
                    $("input#noofpart-" + rowIndex).val($("#modal-NoofPart").val());

                    var bfyIds = '';
                    $.each($('#tblbfy>tbody input:checkbox:checked'), function (i, item) {
                        bfyIds += $(item).attr('data-bfyid') + ',';
                    });
                    $("input#NoofPart-multiple-BfyIds-" + rowIndex).val(bfyIds.replace(/,*$/, ''));
                } else {
                    $("span#Void_fk-Name-" + rowIndex).text('').attr('data-ids', '');
                    $("span#NoofPart-multiple-VO-" + rowIndex).text('');
                    $("input#noofpart-" + rowIndex).val('');
                    $("input#NoofPart-multiple-BfyIds-" + rowIndex).val('');
                }
                $('#modalNoOfParticipant').modal('hide');
            });


            //$('#mdt-1').datepicker({
            //    dateformat: 'dd-mm-yy',
            //    maxdate: '0',
            //    changemonth: true,
            //    changeyear: true,
            //    onSelect: function (dateText, inst) {
            //        //$(this).val(moment(dateText).format("DD-MM-YYYY"));
            //        document.getElementById(this.id).value = moment(dateText).format("DD-MM-YYYY");
            //    }
            //});

            for (var i = 1; i <= 10; i++) {
                $(document).on('focus', "input[id=mdt-" + i + "]", function () {
                    $(this).datepicker({
                        dateFormat: 'dd/mm/yy',
                        changeMonth: true,
                        changeYear: true,
                        maxdate: new Date(),
                        onSelect: function (dateText, inst) {
                            //$(this).val(moment(dateText).format("DD-MM-YYYY"));
                            console.log(dateText);
                            var dt = moment(dateText).format("DD-MM-YYYY");
                            console.log(inst);
                            console.log(dt);
                            //document.getElementById(this.id).value = `${dt.selectedDay}-${dt.selectedMonth+1}-${dt.selectedYear}`;
                        }
                    });
                });
            }

        });

        function BindData() {
            $("#subdata").html('');
            var filtermodel = new Object();
            filtermodel.DistrictId = $('#DistrictId_fk').val() == '' ? '' : $('#DistrictId_fk').val();
            filtermodel.BlockId = $('#BlockId_fk').val() == '' ? '' : $('#BlockId_fk').val();
            filtermodel.CLFId = $('#CLFId_fk').val() == '' ? '' : $('#CLFId_fk').val();
            filtermodel.PanchayatId = $('#PanchayatId_fk').val() == '' ? '' : $('#PanchayatId_fk').val();
            //filtermodel.VoId = $('#VOId').val() == '' ? '' : $('#VOId').val();
            filtermodel.Year = $('#PlanYear').val() == '' ? '' : $('#PlanYear').val();
            filtermodel.Month = $('#planMonth').val() == '' ? '' : $('#PlanMonth').val();
            //var formData = $('#formid').serialize();

            $.ajax({
                type: "GET",
                url: document.baseURI + "/Achievement/GetAchPlanList",
                data: filtermodel,//JSON.stringify({ 'Roles': '' }),
                //cache: false,
                success: function (res) {
                    if (res.IsSuccess) {
                        $("#subdata").html(res.Data);

                        if ($.fn.dataTable.isDataTable('#tblPlan')) {
                            $("#tblPlan").dataTable().fnDestroy();
                        }
                        table = $('#tblPlan').DataTable({
                            pageLength: 100,
                            fixedColumns: {
                                leftColumns: 1,
                                rightColumns: 1
                            },
                            buttons: [{
                                extend: 'excel', text: '<span><i class="fa fa-download"></i>Export</span>', title: 'Achievement Plan Lists',//$('#IDDistrict option:selected').text() +
                                className: 'btn btn-primary button-icon mr-3 mt-1 mb-1',
                                filename: 'Achievement Plan List',
                                exportOptions: { modifier: { page: 'all' } }
                            }],
                        });
                        $('.dataTables_filter input[type="search"]').css(
                            { 'width': '500px', 'display': 'inline-block' }
                        );
                        $('#div-download').empty();
                        table.buttons().container().appendTo($('#div-download'));
                    }
                    else {
                        $("#subdata").html(res.Data);
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //Do To Message display
                }
            });
        }
        function CUData() {
            debugger;
            jQuery.event.trigger("ajaxStart");
            //var vl = $.validator.unobtrusive.parse("#formid");
            //var Isvalid= $("#formid").validate();//CreatePlanformid
            var isvalid = $("#formid").valid();
            var IsCheck = true;
            IsCheck = $('#BFYID_fk').val() == '' ? false : true;
            var tblpushdata = [];
            var formData = new FormData();
            formData.append('DistrictId_fk', $('#DistrictId_fk').val());
            formData.append('BlockId_fk', $('#BlockId_fk').val());
            formData.append('ClusterId_fk', $('#ClusterId_fk').val());
            formData.append('PanchayatId_fk', $('#PanchayatId_fk').val());
            formData.append('PlanYear', $('#PlanYear').val());
            formData.append('PlanMonth', $('#PlanMonth').val());

            var isValidRows = true;
            var rowDatavalid = true;
            $('.rowfy').each(function () {
                $('tbody', this).find('tr').each(function (i, row) {
                    var index = parseInt($('.index', row).text());
                    var id = $(row).attr('data-id');
                    id = id == "" ? '@Guid.Empty' : id;
                    var vogid = $('select[id=void-' + index + ']').val();
                    var vogids = $('span#Void_fk-Name-' + index).attr('data-ids') || '';
                    var BfyIds = $("input#NoofPart-multiple-BfyIds-" + index).val() || '';
                    var actid = $('select[id=actid-' + index + ']').val();
                    var mdt = $('input[id=mdt-' + index + ']').val();
                    var noofpart = $('input[id=noofpart-' + index + ']').val();
                    if ($('#DistrictId_fk').val() != '' && $('#BlockId_fk').val() != ''
                        && $('#ClusterId_fk').val() != '' && $('#PanchayatId_fk').val() != '' && actid
                        && $('#PlanYear').val() != '' && $('#PlanMonth').val() != ''
                        && (mdt && mdt != '' && mdt != 'Invalid Date') && noofpart != '' && (((actid == 1 || actid == 2) && vogids) || vogid)) {
                        var parts = vogids.split(',');
                        if ((actid == 1 || actid == 2) && parts.length) {
                            vogid = parts[0];
                        }
                        var existingIndex = tblpushdata.findIndex(x => moment(x.Meetingheld).isSame(moment(toDate(mdt))) && x.VoId_fk == vogid);
                        if (existingIndex == -1 || (actid == 1 || actid == 2)) {
                            tblpushdata.push({
                                AchieveId_pk: id,
                                VoId_fk: vogid,
                                VoIds_fk: vogids,
                                BfyIds: BfyIds,
                                ActivityId_fk: actid,
                                Meetingheld: toDate(mdt),
                                Noofparticipant: noofpart,
                            });
                        }
                        else {
                            isValidRows = false;
                            return;
                        }
                    }
                    //else {
                    //    rowDatavalid = false;
                    //    return;
                    //}
                });
            });

            if (tblpushdata.length == 0) {
                toastr.error("Error", "Please fill at least one Village Org,\n Meeting Date & No of Participant.");
                return false;
            }
            else if (!isValidRows) {
                toastr.error("Error", "Please select unique Village Org,\n Meeting Date per row.");
                return false;
            }
            //else if (!rowDatavalid) {
            //    toastr.error("Error", "Please remove not filled row.");
            //    return false;
            //}

            formData.append('AVPlanModel', JSON.stringify(tblpushdata));

            if (isvalid && IsCheck) {
               // document.getElementById("btnsubmit").disabled = true;
                //var formData = $('#formid').serialize();

                $.ajax({
                    url: document.baseURI + "/Achievement/AddAchievePlan",
                    type: "Post",
                    data: formData,
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    // processData: false, contentType: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    //data: JSON.stringify(model),
                    success: function (resp) {
                        if (resp.StatusType == "success") {
                            toastr.success("Success", resp.Message);
                            BindDataTable();
                            BindData();
                        }
                        else {
                            toastr.error("Error", resp.Message);
                            document.getElementById("btnsubmit").disabled = false;
                            jQuery.event.trigger("ajaxStop");
                        }
                    },
                    error: function (req, error) {
                        if (error === 'error') { error = req.statusText; }
                        var errormsg = 'There was a communication error: ' + error;
                        toastr.error("Error", errormsg);
                        document.getElementById("btnsubmit").disabled = false;
                        jQuery.event.trigger("ajaxStop");
                        return false;
                    }
                });
            }
            else {
                toastr.error('Error', "Please fill all required fields!!");
                jQuery.event.trigger("ajaxStop");
                return false;
            }

        }

        function CheckUnchecked(cur) {
            if ($(cur).attr('id') == 'selectAll') {
                $('#tblbfy tbody tr .check').each(function (i, item) {
                    $(item).prop('checked', $(cur).prop('checked'));
                });
            } else {
                var isallChecked = true;
                $('#tblbfy tbody tr .check').each(function (i, item) {
                    if (!$(item).prop('checked')) {
                        isallChecked = false;
                        return;
                    }
                });
                $('#selectAll').prop('checked', isallChecked);
            }
            $('#modal-NoofPart').val($('#tblbfy>tbody input:checkbox:checked').length);
        }


        function GetVOWiseBFYList(voIds) {
            $("#modal-div-bfy").html('');
            $("#modal-NoofPart").val('');
            $.ajax({
                type: "GET",
                url: document.baseURI + "/Achievement/GetBFYListByVOIds",
                data: { 'voIds': voIds },
                //cache: false,
                success: function (res) {
                    if (res.IsSuccess) {
                        $("#modal-div-bfy").html(res.Data);
                    }
                    else {
                        $("#modal-div-bfy").html(res.Data);
                    }

                    if ($("#modal-NoofPart-BfyIds").val()) {
                        var ids = $("#modal-NoofPart-BfyIds").val().split(',');
                        $.each($('#tblbfy>tbody input:checkbox'), function (i, item) {
                            var isExists = ids.findIndex(x => x == $(item).attr('data-bfyid')) > -1;
                            $(item).prop('checked', isExists);
                        });
                    }


                    $('#modal-NoofPart').val($('#tblbfy>tbody input:checkbox:checked').length);
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //Do To Message display
                    $("#modal-div-bfy").html(errormsg);
                }
            });
        }

    </script>
}

