@model FP.Models.AchvPlanModel
@using FP.Manager
@{
}
<style>
    .table th {
        font-size: 14px;
        background: #fff;
    }

    .table td {
        font-size: 13px;
    }

    .dataTables_filter, .dataTables_length {
        margin-bottom: 15px;
    }

    .actives2 {
        color: #009A3F !important;
        background: #FFFFFF;
        border-color: #009CFF;
    }
</style>
<div class="breadcrumb">
    <h2>Meeting Achievements - @CommonModel.RoleNameCont.CNRP</h2>
</div>
<div class="container-fluid pt-4 px-4">
    @using (Html.BeginForm("AddAchievePlan", "Achievement", FormMethod.Get, new { @class = "", @id = "formid", role = "form", autocomplete = "off", enctype = "multipart/form-data", noValidate = "novalidate" }))
    {
        <div class="row g-4">
            <div class="col-sm-12">
                <div class="bg-light rounded h-100 p-4">
                    <div class="row mb-3">
                        <div class="col-sm-2">
                            <div class="position-relative form-group">
                                @Html.Label(CommonModel.DispLevel.District, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.DistrictId_fk, new List<SelectListItem>(), null, new { @class = "form-select " })
                                @Html.ValidationMessageFor(model => model.DistrictId_fk, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="position-relative form-group">
                                @*@Html.LabelFor(model => model.BlockId_fk, htmlAttributes: new { @class = "control-label" })*@
                                @Html.Label(CommonModel.DispLevel.Block, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.BlockId_fk, new List<SelectListItem>(), null, new { @class = "form-select " })
                                @Html.ValidationMessageFor(model => model.BlockId_fk, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="position-relative form-group">
                                @Html.Label(CommonModel.DispLevel.Cluster, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.ClusterId_fk, new List<SelectListItem>(), null, new { @class = "form-select " })
                                @Html.ValidationMessageFor(model => model.ClusterId_fk, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="col-sm-2">
                            <div class="position-relative form-group">
                                @Html.Label(CommonModel.DispLevel.Panchayat, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.PanchayatId_fk, new List<SelectListItem>(), null, new { @class = "form-select " })
                                @Html.ValidationMessageFor(model => model.PanchayatId_fk, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="position-relative form-group">
                                @Html.Label(CommonModel.DispLevel.Year, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.PlanYear, new List<SelectListItem>(), null, new { @class = "form-select " })
                                @Html.ValidationMessageFor(model => model.PlanYear, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="position-relative form-group">
                                @Html.Label(CommonModel.DispLevel.Month, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(m => m.PlanMonth, new List<SelectListItem>(), null, new { @class = "form-select " })
                                @Html.ValidationMessageFor(model => model.PlanMonth, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-03"></div>
                                <div class="col-md-7"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12"><strong id="msg" class="text-danger"></strong></div>
                                @{
                                    int index = 1; var achvplanid = Guid.Empty;
                                    <div class="col-md-12">
                                        <table class="table rowfy" id="tbl">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>@CommonModel.DispLevel.VOFull</th>
                                                    <th>@CommonModel.DisAchvlbl.MeetingDate</th>
                                                    <th>@CommonModel.DisAchvlbl.NoofParticipant</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*<tr>
                                                        <td class="index"></td>
                                                        <td>
                                                            <select name="Void_fk" class="Void_fk form-select" required></select>
                                                        </td>
                                                        <td>
                                                            <input type="text" name="MDt" value="" class="form-control col-md-4 mdt" minlength="10" maxlength="15" required />
                                                        </td>
                                                        <td>
                                                            <input type="text" name="NoofPart" value="" class="form-control col-md-4 numbersOnly noofpart" minlength="1" maxlength="3" required />
                                                        </td>
                                                        <td class="action"></td>
                                                    </tr>*@
                                            </tbody>
                                            <tfoot style="display:none;">
                                                <tr>
                                                    <td class="index"></td>
                                                    <td>
                                                        <select name="Void_fk" id="Void_fk" class="Void_fk form-select" required></select>
                                                    </td>
                                                    <td>
                                                        <input type="text" name="MDt" value="" class="form-control col-md-4 mdt" minlength="10" maxlength="15" required />
                                                    </td>
                                                    <td>
                                                        <input type="text" name="NoofPart" value="" class="form-control col-md-4 numbersOnly noofpart" minlength="1" maxlength="3" required />
                                                    </td>
                                                    <td class="action">
                                                        <button type="button" class="btn btn-sm rowfy-addrow btn-success" style="display:none">+</button>
                                                        <button type="button" class="btn btn-sm rowfy-deleterow btn-danger" style="display:none">-</button>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <span class="check-spacer">
                            <input type="submit" name="btnsubmit" id="btnsubmit" class="btn btn-info" value="Submit" />
                        </span>&nbsp;&nbsp;&nbsp;
                        <span class="check-spacer">
                            <a href="~/Achievement/AddAchievePlan" class="btn btn-warning" id="hrfid"><i class="fa fa-refresh"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }

    <hr />

    <div class="row">
        <div class="col=md-12" id="div-download"></div>
        <div class="col=md-6"></div>
        <div class="col=md-6"></div>
        <div class="col=md-6"></div>
        <div class="col-md-12">
            <div id="subdata"></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JS/Master.js"></script>

    <script src="~/Scripts/JS/rowfy.js"></script>
    @*<link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>*@

    <script>
        $(document).ready(function () {

            GetYearList("PlanYear", 0);
            GetMonthList("PlanMonth", 0);
            GetDistrict("DistrictId_fk", 0);
            BindData();
            $('#DistrictId_fk').change(function () {
                GetBlock("BlockId_fk", 0, $(this).val());
            });
            $('#BlockId_fk').change(function () {
                GetCLF("ClusterId_fk", 0, $('#DistrictId_fk').val(), $(this).val());
            });
            $('#ClusterId_fk').change(function () {
                GetPanchayat("PanchayatId_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val(), $(this).val());
            });
            $('#PanchayatId_fk').change(function () {
                // GetVillage("VOId", 0, $('#DistrictId').val(), $('#BlockId').val(), $('#CLFId').val(), $(this).val());
                GetVOrg(".Void_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val(), $('#ClusterId_fk').val(), $(this).val());
                BindDataTable();
                BindData();
            });
            /* Role Wise */
            BindRolewise("DistrictId_fk", "BlockId_fk", "ClusterId_fk", "PanchayatId_fk");//, "VOId_fk"

            if ($('#PanchayatId_fk').val() != "") {
                GetVOrg(".Void_fk", 0, $('#DistrictId_fk').val(), $('#BlockId_fk').val(), $('#ClusterId_fk').val(), $('#PanchayatId_fk').val());
                BindDataTable();
                BindData();
            }
            $('#PlanYear').change(function () {
                BindDataTable();
                BindData();
            });
            $('#PlanMonth').change(function () {
                BindDataTable();
                BindData();
            });

            $("#formid").submit(function (e) {
                e.preventDefault();
                CUData();
            });
            $("#hrfid").click(function (e) {
                e.preventDefault();
                BindDataTable();
                // document.getElementById("btnsubmit").disabled = false;
            });


            //$('#mdt-1').datepicker({
            //    dateformat: 'dd-mm-yy',
            //    maxdate: '0',
            //    changemonth: true,
            //    changeyear: true,
            //    onSelect: function (dateText, inst) {
            //        //$(this).val(moment(dateText).format("DD-MM-YYYY"));
            //        document.getElementById(this.id).value = moment(dateText).format("DD-MM-YYYY");
            //    }
            //});

            for (var i = 1; i <= 10; i++) {
                $(document).on('focus', "input[id=mdt-" + i + "]", function () {
                    $(this).datepicker({
                        dateFormat: 'dd/mm/yy',
                        changeMonth: true,
                        changeYear: true,
                        maxdate: new Date(),
                        onSelect: function (dateText, inst) {
                            //$(this).val(moment(dateText).format("DD-MM-YYYY"));
                            console.log(dateText);
                            var dt = moment(dateText).format("DD-MM-YYYY");
                            console.log(inst);
                            console.log(dt);
                            //document.getElementById(this.id).value = `${dt.selectedDay}-${dt.selectedMonth+1}-${dt.selectedYear}`;
                        }
                    });
                });
            }

        });

        function BindData() {
            $("#subdata").html('');
            var filtermodel = new Object();
            filtermodel.DistrictId = $('#DistrictId_fk').val() == '' ? '' : $('#DistrictId_fk').val();
            filtermodel.BlockId = $('#BlockId_fk').val() == '' ? '' : $('#BlockId_fk').val();
            filtermodel.CLFId = $('#CLFId_fk').val() == '' ? '' : $('#CLFId_fk').val();
            filtermodel.PanchayatId = $('#PanchayatId_fk').val() == '' ? '' : $('#PanchayatId_fk').val();
            //filtermodel.VoId = $('#VOId').val() == '' ? '' : $('#VOId').val();
            filtermodel.Year = $('#PlanYear').val() == '' ? '' : $('#PlanYear').val();
            filtermodel.Month = $('#planMonth').val() == '' ? '' : $('#PlanMonth').val();
            //var formData = $('#formid').serialize();

            $.ajax({
                type: "GET",
                url: document.baseURI + "/Achievement/GetAchPlanList",
                data: filtermodel,//JSON.stringify({ 'Roles': '' }),
                //cache: false,
                success: function (res) {
                    if (res.IsSuccess) {
                        $("#subdata").html(res.Data);

                        if ($.fn.dataTable.isDataTable('#tblPlan')) {
                            $("#tblPlan").dataTable().fnDestroy();
                        }
                        table = $('#tblPlan').DataTable({
                            pageLength: 100,
                            fixedColumns: {
                                leftColumns: 1,
                                rightColumns: 1
                            },
                            buttons: [{
                                extend: 'excel', text: '<span><i class="fa fa-download"></i>Export</span>', title: 'Achievement Plan Lists',//$('#IDDistrict option:selected').text() +
                                className: 'btn btn-primary button-icon mr-3 mt-1 mb-1',
                                filename: 'Achievement Plan List',
                                exportOptions: { modifier: { page: 'all' } }
                            }],
                        });
                        $('.dataTables_filter input[type="search"]').css(
                            { 'width': '500px', 'display': 'inline-block' }
                        );
                        $('#div-download').empty();
                        table.buttons().container().appendTo($('#div-download'));
                    }
                    else {
                        $("#subdata").html(res.Data);
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //Do To Message display
                }
            });
        }
        function CUData() {
            debugger;
            jQuery.event.trigger("ajaxStart");
            //var vl = $.validator.unobtrusive.parse("#formid");
            //var Isvalid= $("#formid").validate();//CreatePlanformid
            var isvalid = $("#formid").valid();
            var IsCheck = true;
            IsCheck = $('#BFYID_fk').val() == '' ? false : true;
            var tblpushdata = [];
            var formData = new FormData();
            formData.append('DistrictId_fk', $('#DistrictId_fk').val());
            formData.append('BlockId_fk', $('#BlockId_fk').val());
            formData.append('ClusterId_fk', $('#ClusterId_fk').val());
            formData.append('PanchayatId_fk', $('#PanchayatId_fk').val());
            formData.append('PlanYear', $('#PlanYear').val());
            formData.append('PlanMonth', $('#PlanMonth').val());

            var isValidRows = true;
            var rowDatavalid = true;
            $('.rowfy').each(function () {
                $('tbody', this).find('tr').each(function (i, row) {
                    var index = parseInt($('.index', row).text());
                    var id = $(row).attr('data-id');
                    id = id == "" ? '@Guid.Empty' : id;
                    var vogid = $('select[id=void-' + index + ']').val();
                    var mdt = $('input[id=mdt-' + index + ']').val();
                    var noofpart = $('input[id=noofpart-' + index + ']').val();
                    if ($('#DistrictId_fk').val() != '' && $('#BlockId_fk').val() != ''
                        && $('#ClusterId_fk').val() != '' && $('#PanchayatId_fk').val() != '' && vogid != ''
                        && $('#PlanYear').val() != '' && $('#PlanMonth').val() != ''
                        && (mdt && mdt != '' && mdt != 'Invalid Date') && noofpart != '') {

                        var existingIndex = tblpushdata.findIndex(x => moment(x.Meetingheld).isSame(moment(toDate(mdt))) && x.VoId_fk == vogid);
                        if (existingIndex == -1) {
                            tblpushdata.push({
                                AchieveId_pk: id,
                                VoId_fk: vogid,
                                Meetingheld: toDate(mdt),
                                Noofparticipant: noofpart,
                            });
                        }
                        else {
                            isValidRows = false;
                            return;
                        }
                    }
                    //else {
                    //    rowDatavalid = false;
                    //    return;
                    //}
                });
            });

            if (tblpushdata.length == 0) {
                toastr.error("Error", "Please fill at least one Village Org,\n Meeting Date & No of Participant.");
                return false;
            }
            else if (!isValidRows) {
                toastr.error("Error", "Please select unique Village Org,\n Meeting Date per row.");
                return false;
            }
            //else if (!rowDatavalid) {
            //    toastr.error("Error", "Please remove not filled row.");
            //    return false;
            //}

            formData.append('AVPlanModel', JSON.stringify(tblpushdata));

            if (isvalid && IsCheck) {
               // document.getElementById("btnsubmit").disabled = true;
                //var formData = $('#formid').serialize();

                $.ajax({
                    url: document.baseURI + "/Achievement/AddAchievePlan",
                    type: "Post",
                    data: formData,
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    // processData: false, contentType: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    //data: JSON.stringify(model),
                    success: function (resp) {
                        if (resp.StatusType == "success") {
                            toastr.success("Success", resp.Message);
                            BindDataTable();
                            BindData();
                        }
                        else {
                            toastr.error("Error", resp.Message);
                            document.getElementById("btnsubmit").disabled = false;
                            jQuery.event.trigger("ajaxStop");
                        }
                    },
                    error: function (req, error) {
                        if (error === 'error') { error = req.statusText; }
                        var errormsg = 'There was a communication error: ' + error;
                        toastr.error("Error", errormsg);
                        document.getElementById("btnsubmit").disabled = false;
                        jQuery.event.trigger("ajaxStop");
                        return false;
                    }
                });
            }
            else {
                toastr.error('Error', "Please fill all required fields!!");
                jQuery.event.trigger("ajaxStop");
                return false;
            }

        }
    </script>
}

